<% provide(:body_class, 'city') %>

<% provide(:meta_title, @city.meta_title) %>
<% provide(:meta_description, @city.meta_description || "Официальное сетевое издание. На этой странице представлены самые значимые, актуальные и важные новости города #{@city.title_ru}") %>
<% provide(:meta_keywords, @city.meta_keywords) %>

<main class="position-relative">
  <div class="archive-header text-center mb-50">
    <div class="container">
      <h2>
        <span class="colored"><%= @city.base_object.title_ru %></span>
<!--        <span class="post-count">Записей: <%#= @posts.size %> </span>-->
      </h2>
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Главная</a>
        <span></span>
        <a href="#" rel="nofollow"><%= @city.base_object.region.title_ru %></a>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
        <%= render "site2/shared/sidebar/weather", city_weather: @city.city_weather, cached: true %>
        <%= render "site2/shared/sidebar/categories", sidebar_categories: @city.sidebar_categories, cached: true %>
        <%= render "site2/shared/sidebar/adv2", cached: true %>
      </div>
      <!-- main content -->
      <div class="col-lg-10 col-md-9 order-1 order-md-2">
        <div class="row mb-50">
          <div class="col-lg-8 col-md-12">
            <div class="latest-post mb-50">
              <div class="loop-list-style-1 publishers-list">
                <% if @city.publishers.size > 0 %>
                  <% @city.publishers.each do |publisher| %>
                    <% cache publisher do %>
                      <%= render "site2/shared/publisher", publisher: publisher %>
                    <% end %>
                  <% end %>
                <% else  %>
                  <article class="p-10 background-white empty_list border-radius-10 mb-30 wow fadeIn animated">
                     <span class="text-center">
                      <p class="text-center nomargin_bottom">В этом городе пока нет издателей.</p>
                     </span>
                  </article>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 sidebar-right">
            <%= render "site2/shared/sidebar/top_posts", posts: @city.top_posts, cached: true %>
            <%= render "site2/shared/sidebar/adv", advert: @city.advert, cached: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
