<% provide(:body_class, 'category') %>
<% provide(:meta_title, "Новости города #{@city.title_ru} в категории #{@post_category.base_object.title}") %>
<% provide(:meta_description, "Официальное сетевое издание. На этой странице представлены самые значимые, актуальные и важные новости города #{@city.title_ru} в категории #{@post_category.base_object.title}") %>

<main class="position-relative">
  <div class="archive-header text-center mb-50">
    <div class="container">
      <h2>
        <span class="colored"><%= @post_category.base_object.title %></span>
<!--        <span class="post-count">Записей: <%#= @post_category.posts_size %> </span>-->
      </h2>
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Главная</a>
        <span></span>
        <a href="#" rel="nofollow"><%= @city.region.title_ru %></a>
        <span></span>
        <a href="<%= city_path(@city) %>" rel="nofollow"><%= @city.title_ru %></a>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
        <%= render "site2/shared/sidebar/weather", city_weather: @city.weather, cached: true %>
        <%= render "site2/shared/sidebar/categories", sidebar_categories: @post_category.sidebar_categories, cached: true %>
      </div>
      <!-- main content -->
      <div class="col-lg-10 col-md-9 order-1 order-md-2">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="latest-post mb-50">
              <div class="loop-list-style-1 posts_list">
                <% if @posts.size > 0 %>
                  <% @posts.each do |post| %>
                    <% cache post do %>
                      <%= render "site2/shared/article", post: post %>
                    <% end %>
                  <% end %>
                <% else  %>
                  <article class="p-10 background-white empty_list border-radius-10 mb-30 wow fadeIn animated">
                     <span class="text-center">
                      <p class="text-center nomargin_bottom">В этой категории пока нет записей.</p>
                     </span>
                  </article>
                <% end %>
              </div>
            </div>
            <div class="pagination-area mb-30">
              <%= will_paginate @posts %>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 sidebar-right">
            <%= render "site2/shared/sidebar/top_posts", posts: @post_category.top_posts, cached: true %>
            <%= render "site2/shared/sidebar/adv", cached: true, advert: @advert %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
