<% provide(:body_class, 'home') %>
<% provide(:meta_title, @page.base_object.meta_title) %>
<% provide(:meta_description, @page.base_object.meta_description) %>
<% provide(:meta_keywords, @page.base_object.meta_keywords) %>

<main class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
        <%= render "site2/shared/sidebar/publishers", sidebar_publishers: @page.sidebar_publishers, title: 'Топ издателей', cached: true %>
        <%= render "site2/shared/sidebar/adv2", cached: true %>
        <%= render "site2/shared/sidebar/adv2", cached: true %>
      </div>
      <div class="col-lg-10 col-md-9 order-1 order-md-2">
        <div class="row sidebar_row mb-50">
          <div class="col-lg-8 col-md-12">
            <div class="latest-post">
              <div class="loop-list-style-1">

                <article class="p-10 background-white location_area border-radius-10 wow fadeIn animated">
                  <div class="d-md-flex d-block">
                    <div class="post-content media-body">
                      <% if @page.location %>
                        Последние новости города <span class="city_title colored"><%= link_to @page.location.title_ru, city_path(@page.location) %></span>
                      <% else %>
                        Актуальные новости
                      <% end %>
                    </div>
                  </div>
                </article>

                <div class="publishers-list">
                  <% @page.publishers.each do |publisher| %>
                    <% cache publisher do %>
                      <%= render "site2/shared/publisher", publisher: publisher %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="single-excerpt">
              <p class="font-medium">Вы издательство, блогер или просто хотите попробовать себя в этой сфере ? Напишите на почту admin@vestida.ru для получения доступа к дополнительным возможностям проекта.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 sidebar-right">
            <%= render "site2/shared/sidebar/top_posts", posts: @page.top_posts, cached: true %>
            <%= render "site2/shared/sidebar/adv", advert: @advert, cached: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
