<% provide(:body_class, 'page') %>
<% provide(:meta_title, @page.meta_title) %>
<% provide(:meta_description, @page.meta_description) %>
<% provide(:meta_keywords, @page.meta_keywords) %>

<main class="position-relative">
  <div class="container">
    <% if @page.show_header %>
      <div class="entry-header entry-header-3 mb-50 mt-50 text-center text-white">
        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" >
          <div class="position-midded">
            <h1 class="post-title mb-30 text-black">
              <%= @page.title %>
            </h1>
          </div>
        </div>
      </div>
    <% end %>
    <!--end entry header-->
    <div class="row mb-50 main-content">
      <div class="col-lg-2 d-none d-lg-block"></div>
      <div class="col-lg-8 col-md-12">
        <div class="single-excerpt">
          <%= @page.description&.html_safe %>
        </div>
      </div>
    </div>
  </div>
</main>
