<% provide(:body_class, 'post2') %>
<% provide(:meta_title, @post.base_object.title) %>

<% if Sanitize.fragment(@post.base_object.lead).size > 5 %>
  <% provide(:meta_description, Sanitize.fragment(@post.base_object.lead)) %>
<% else %>
  <% provide(:meta_description, Sanitize.fragment(@post.base_object.description.truncate(100))) %>
<% end %>

<main class="position-relative">
  <div class="container">
    <div class="entry-header entry-header-3 mb-50 mt-50 text-center text-white">
      <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" >
        <div class="position-midded">
          <h1 class="post-title text-black mb-30 text-white">
            <%= @post.base_object.title %>
          </h1>
          <div class="entry-meta meta-1 font-x-small color-grey text-uppercase text-white">
            <span class="post-by text-black"><%= link_to @post.post_category.title, city_post_category_path(@post.base_object.city, @post.base_object.post_category) %></span>
            <span class="time-reading text-black"><%= link_to @post.publisher.company_name, issuer_path(@post.base_object.publisher) %></span>
            <span class="post-on text-black"><%= pretty_datetime(@post.base_object.created_at) %></span>

            <p class="font-x-small mt-20 text-black ">
              <span class="hit-count"><i class="ti-eye mr-5"></i><%= @post.base_object.public_total_views %></span>
              <span class="hit-count"><i class="ti-time mr-5"></i><%= time_reading(@post.base_object) %></span>
<!--              <span class="hit-count"><i class="ti-star mr-5"></i>8/10</span>-->
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end entry header-->
    <div class="row mb-50">
      <div class="col-lg-8 col-md-12">
        <div class="entry-main-content">
          <%= @post.base_object.description&.html_safe %>
        </div>
        <div class="entry-bottom mt-50 mb-30">
<!--          <div class="font-weight-500 entry-meta meta-1 font-x-small color-grey">-->
<!--            <span class="update-on"><i class="ti ti-reload mr-5"></i>Updated 18/09/2020 10:28 EST</span>-->
<!--            <span class="hit-count"><i class="ti-comment"></i>82 comments</span>-->
<!--            <span class="hit-count"><i class="ti-heart"></i>68 likes</span>-->
<!--            <span class="hit-count"><i class="ti-star"></i>8/10</span>-->
<!--          </div>-->
          <div class="overflow-hidden mt-30">
<!--            <div class="tags float-left text-muted mb-md-30">-->
<!--              <span class="font-small mr-10"><i class="fa fa-tag mr-5"></i>Tags: </span>-->
<!--              <a href="category.html" rel="tag">tech</a>-->
<!--              <a href="category.html" rel="tag">world</a>-->
<!--              <a href="category.html" rel="tag">global</a>-->
<!--            </div>-->
            <div class=" float-right">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,pocket,viber,whatsapp,skype,telegram"></div>
            </div>
          </div>
        </div>
        <!--author box-->
        <div class="author-bio border-radius-10 bg-white p-30 mb-40 mt-40 ">
          <div class="author-image mb-30">
            <a href="<%= post_path(@post.publisher)%>">
              <% if @post.publisher.avatar.to_s.size > 5 && !Rails.env.development? %>
                <%= image_tag @post.publisher.avatar.s90_90.url %>
              <% else %>
                <%= image_tag 'noimage/main2.png' %>
              <% end %>
            </a>
          </div>
          <div class="author-info">
            <h3><span class="vcard author"><span class="fn"><a href="<%= issuer_path(@post.publisher) %>" title="Posts by Robert" rel="author"><%= @post.publisher.company_name %></a></span></span></h3>
            <div class="author-description"><%= @post.publisher.info %></div>
            <div class="author-social">
            </div>
          </div>
        </div>
        <!--related posts-->
        <%= render "site2/shared/post/related_posts", posts: @post.related, cached: true %>
      </div>
      <!--End col-lg-8-->
      <div class="col-lg-4 col-md-12 sidebar-right sticky-sidebar">
        <div class="pl-lg-50">
          <!--Post aside style 1-->
          <%= render "site2/shared/post/now_read", posts: @post.now_read, cached: true %>
        </div>

        <div class="pl-lg-50">
          <!--Post aside style 1-->
          <%= render "site2/shared/sidebar/adv", advert: @post.advert, cached: true %>
        </div>
      </div>
      <!--End col-lg-4-->
    </div>



    <div class="row mb-50">
      <%= render "site2/shared/post/hot_posts", posts: @post.hot, cached: true %>
      <%= render "site2/shared/post/new_posts", posts: @post.new, cached: true %>
      <%= render "site2/shared/post/viewed_posts", posts: @post.viewed, cached: true %>
    </div>
  </div>
</main>
