<% provide(:body_class, 'post') %>
<% provide(:meta_title, @post.base_object.title) %>

<main class="position-relative">
  <div class="container">
    <div class="entry-header entry-header-3 mb-50 mt-50 text-center text-white">
      <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" >
        <div class="position-midded">
          <h1 class="post-title mb-30 text-black">
            <%= @post.base_object.title %>
          </h1>
        </div>
      </div>
    </div>
    <!--end entry header-->
    <div class="row mb-50 main-content">
      <div class="col-lg-2 d-none d-lg-block"></div>
      <div class="col-lg-8 col-md-12">
        <div class="single-excerpt">
          <%= @post.base_object.description&.html_safe %>
        </div>
        <!--author box-->
        <div class="author-bio border-radius-10 bg-white p-30 mb-40 mt-40 ">
          <div class="author-image mb-30">
            <a href="<%= post_path(@post.publisher)%>">
              <% if @post.publisher.avatar.to_s.size > 5 && !Rails.env.development? %>
                <%= image_tag @post.publisher.avatar.s90_90.url %>
              <% else %>
                <%= image_tag 'noimage/main2.png' %>
              <% end %>
            </a>
          </div>
          <div class="author-info">
            <h3><span class="vcard author"><span class="fn"><a href="<%= issuer_path(@post.publisher) %>" title="Posts by Robert" rel="author"><%= @post.publisher.company_name %></a></span></span></h3>
            <div class="author-description"><%= @post.publisher.info %></div>
            <div class="author-social">
            </div>
          </div>
        </div>
        <!--related posts-->
        <div class="related-posts">
          <h3 class="mb-30">Похожие записи</h3>
          <div class="row">
            <% @post.related.each do |post| %>
              <article class="col-lg-4">
              <div class="background-white border-radius-10 p-10 mb-30">
                <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
                  <a href="<%= post_path(post) %>">
                    <% if post.avatar.to_s.size > 5 && !Rails.env.development?  %>
                      <%= image_tag post.avatar.url %>
                    <% else %>
                      <%= image_tag 'noimage/main2.png' %>
                    <% end %>
                  </a>
                </div>
                <div class="pl-10 pr-10">
                  <div class="entry-meta mb-15 mt-10 category_area">
                    <a class="entry-meta meta-2" href="#">
                      <span class="post-in not-colored font-x-small"><%= post.post_category.title  %></span></a>
                  </div>
                  <h5 class="post-title mb-15">
                  <%= link_to post.title, post_path(post) %>
                  </h5>
                  <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                    <span class="post-by"><%= pretty_datetime(post.created_at) %></span>
                    <span class="hit-count"><i class="ti-eye mr-5"></i><%= post.public_total_views %></span>
                  </div>
                </div>
              </div>
            </article>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="row mb-50 sidebar-right">
      <%= render "site2/shared/post/hot_posts", posts: @post.hot %>
      <%= render "site2/shared/post/new_posts", posts: @post.new %>
      <%= render "site2/shared/post/viewed_posts", posts: @post.viewed %>
    </div>
  </div>
</main>
