<% provide(:body_class, 'publisher') %>
<% provide(:meta_title, @publisher.base_object.company_name) %>
<% provide(:meta_description, "Новости '#{@publisher.base_object.company_name}'") %>


<main class="position-relative">
  <div class="archive-header text-center mb-50">
    <div class="container">
      <h2>
        <span class="colored"><%= @publisher.base_object.company_name %></span>
        <!--        <span class="post-count">Записей: <%#= @posts_size %> </span>-->
      </h2>
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Главная</a>
        <span></span>
        <a href="<%= city_path(@publisher.base_object.city) %>" rel="nofollow">Новости
          города <%= @publisher.city_title %></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
        <%= render "site2/shared/sidebar/weather", city_weather: @publisher.city_weather, cached: true %>
        <%= render "site2/shared/sidebar/categories", sidebar_categories: @publisher.sidebar_categories, cached: true %>
        <%= render "site2/shared/sidebar/adv2", cached: true %>
      </div>
      <!-- main content -->
      <div class="col-lg-10 col-md-9 order-1 order-md-2">
        <div class="row ">
          <div class="col-lg-8 col-md-12">
            <div class="latest-post mb-50">
              <div class="loop-list-style-1 posts_list">
                <% if @posts.size > 0 %>
                  <% @posts.each do |post| %>
                    <% cache post do %>
                      <%= render "site2/shared/article", post: post %>
                    <% end %>
                  <% end %>
                <% else %>
                  <article class="p-10 background-white empty_list border-radius-10 mb-30 wow fadeIn animated">
                     <span class="text-center">
                      <p class="text-center nomargin_bottom">У этого издателя пока нет новостей</p>
                     </span>
                  </article>
                <% end %>
              </div>
            </div>
            <div class="pagination-area mb-30">
              <%= will_paginate @posts %>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 sidebar-right">
            <%= render "site2/shared/sidebar/top_posts", posts: @publisher.top_posts, cached: true %>
            <%= render "site2/shared/sidebar/adv", advert: @publisher.advert, cached: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
