<% provide(:body_class, 'search') %>
<% provide(:meta_title, 'Результаты поиска') %>

<main class="position-relative">
  <div class="archive-header text-center mb-50">
    <div class="container">
      <h2>
        <span class="colored">Результаты поиска</span>
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">

      </div>
      <!-- main content -->
      <div class="col-lg-10 col-md-9 order-1 order-md-2">
        <div class="row ">
          <div class="col-lg-8 col-md-12">
            <div class="latest-post mb-50">
              <div class="loop-list-style-1 posts_list">
                <% if @posts.size > 0 %>
                  <% @posts.each do |post| %>
                    <%= render "site2/shared/article", post: post %>
                  <% end %>
                <% else %>
                  <article class="p-10 background-white empty_list border-radius-10 mb-30 wow fadeIn animated">
                     <span class="text-center">
                      <p class="text-center nomargin_bottom">По этому запросу нет записей</p>
                     </span>
                  </article>
                <% end %>
              </div>
            </div>
            <div class="pagination-area mb-30">
              <%= will_paginate @posts %>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 sidebar-right">

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
