<% provide(:body_class, 'post_categories-edit') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/post_categories">Категории записей</a>
    </li>
    <li class="breadcrumb-item active"><%= @post_category.title %></li>
  </ol>

  <%= form_with model: @post_category, url: administrators_post_category_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название</label>
            <%= f.text_field :title, class: "form-control", placeholder: "Название категории записей" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Ссылка ЧПУ</label>
            <%= f.text_field :slug, class: "form-control", placeholder: "url" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Описание</label>
            <%= f.text_area :description, class: "form-control tinymce", placeholder: "Описание", rows: 7 %>
          </div>
        </div>
      </div>
    </div>

    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Изображения</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Основное изображение</h6>
          <small>800 px * 600 px</small>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <% if @post_category.avatar.to_s.size > 3 %>
                  <%= image_tag @post_category.avatar.admin_edit.to_s, class: "main_avatar" %>
                <% else %>
                  <%= image_tag "noimage/main.png", class: "main_avatar" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.file_field :avatar %>
        </div>
        <div class="col-md-6">
          <h6>Широкое изображение</h6>
          <small>1400 px * 900 px</small>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <% if @post_category.large_avatar.to_s.size > 3 %>
                  <%= image_tag @post_category.large_avatar.admin_edit.to_s, class: "large_avatar" %>
                <% else %>
                  <%= image_tag "noimage/main.png", class: "large_avatar" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.file_field :large_avatar %>
        </div>
      </div>
      <!-- /row-->
    </div>

    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>SEO</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Meta title</label>
            <%= f.text_field :meta_title, class: "form-control", placeholder: "meta title" %>
          </div>
          <div class="form-group">
            <label>Meta description</label>
            <%= f.text_area :meta_description, class: "form-control", placeholder: "meta description" %>
          </div>
          <div class="form-group">
            <label>Meta keywords</label>
            <%= f.text_area :meta_keywords, class: "form-control", placeholder: "meta keywords" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_post_categories_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>