<% provide(:body_class, 'profile-edit') %>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/publishers/dashboard">Консоль</a>
    </li>

    <li class="breadcrumb-item active">Мой профиль</li>
  </ol>

  <div class="container-fluid">
  <% if flash[:errors] %>
    <ol class="breadcrumb model-errors">
      <% flash[:errors].each do |error| %>
        <p class="model-error"><%= error %></p>
      <% end %>
    </ol>
  <% end %>

  <% if flash[:success] %>
    <ol class="breadcrumb flash-success">
      <%= flash[:success] %>
    </ol>
  <% end %>



    <div class="box_general padding_bottom col-md-10 m-bottom10 center-block">

      <div class="header_box version_2">
        <h2>Личная информация</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= form_with model: current_publisher, url: update_password_publishers_url, local: true,
                        method: :post do |f| %>
          <div class="form-group">
            <label>Новый пароль</label>
            <%= f.password_field :password, autocomplete: "off",
                                 placeholder: 'Минимум 5 символов',
                                 class: "form-control" %>
          </div>
          <div class="form-group">
            <label>Подтвердите пароль</label>
            <%= f.password_field :password_confirmation, autocomplete: "off",
                                 placeholder: 'Минимум 5 символов',
                                 class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Обновить", class: "btn_1 small pull-left" %>
          </div>
          <% end %>
        </div>
        <div class="col-md-5">
          <p>Ссылка на вашу страницу на сайте: <%= link_to current_publisher.company_name, issuer_path(current_publisher) %></p>
          <p>Ваш профиль закреплен за городом: <%= link_to current_publisher.city.title_ru, city_path(current_publisher.city_id) %></p>
        </div>
      </div>



    </div>

    <br>

    <div class="box_general padding_bottom col-md-10 m-top30 center-block">
      <%= form_with model: current_publisher, url: update_profile_publishers_url, local: true,
                    method: :post do |f| %>
      <div class="header_box version_2">
        <h2>Изображения</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h6>Основное изображение</h6>
          <small>640 px * 480 px</small>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <% if current_publisher.avatar.to_s.size > 3 %>
                  <%= image_tag current_publisher.avatar.admin_edit.to_s, class: "main_avatar" %>
                <% else %>
                  <%= image_tag "noimage/main.png", class: "main_avatar" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.file_field :avatar %>
        </div>

      </div>
        <div class="row m-top25">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.submit "Обновить изображение", class: "btn_1 small pull-left" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>




</div>

  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_publishers_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>