<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-left">
  <button class="off-canvas-close"><i class="ti-close"></i></button>
  <div class="sidebar-inner">
    <!--lastest post-->
    <div class="sidebar-widget mb-50">
      <div class="widget-header mb-30">
        <h5 class="widget-title">Выбор города</h5>
      </div>
      <div class="post-aside-style-2">
        <div class="select_region_area header-navigation">
          <select class="main_select_region" data-md-selectize data-md-selectize-bottom data-uk-tooltip="{pos:'top'}" title="region">
            <option value="0" selected>Все области</option>
            <% @regions.each do |region| %>
              <option value="<%= region.id %>"><%= region.title_ru %></option>
            <% end %>
          </select>
        </div>
        <div class="select_city_area">
          <select class="main_select_city" data-md-selectize>
            <option value="0" <%= 'selected' unless @cities %> >Все города</option>
          </select>
        </div>
        <div class="link_area">
        </div>
      </div>
    </div>
  </div>
</aside>
