<footer>
<!--  <div class="footer-area pt-50 bg-white">-->
<!--    <div class="container">-->
<!--      <div class="row pb-30">-->
<!--        <div class="col">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Global Economy</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Environment</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">Religion</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Fashion</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">Terrorism</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">Conflicts</a></li>-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Scandals</a></li>-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Executive</a></li>-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Foreign policy</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Healthy Living</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Medical Research</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">Children’s Health</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Around the World</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">Ad Choices</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">Mental Health</a></li>-->
<!--            <li class="cat-item cat-item-8"><a href="category.html">Media</a></li>-->
<!--            <li class="cat-item cat-item-9"><a href="category.html">Relations</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Real Estate</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Commercial</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">Find A Home</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Mortgage Calculator</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">My Real Estate</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">The High End</a></li>-->
<!--            <li class="cat-item cat-item-8"><a href="category.html">List Your Home</a></li>-->
<!--            <li class="cat-item cat-item-9"><a href="category.html">World</a></li>-->
<!--            <li class="cat-item cat-item-10"><a href="category.html">Magazine</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">U.S.</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Politics</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">N.Y.</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Business</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">Opinion</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">Tech</a></li>-->
<!--            <li class="cat-item cat-item-8"><a href="category.html">Science</a></li>-->
<!--            <li class="cat-item cat-item-9"><a href="category.html">Health</a></li>-->
<!--            <li class="cat-item cat-item-10"><a href="category.html">Sports</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Arts</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Books</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">Style</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Food</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">Travel</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">T Magazine</a></li>-->
<!--            <li class="cat-item cat-item-8"><a href="category.html">Real Estate</a></li>-->
<!--            <li class="cat-item cat-item-9"><a href="category.html">Obituaries</a></li>-->
<!--            <li class="cat-item cat-item-10"><a href="category.html">Video</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col d-none d-lg-block">-->
<!--          <ul class="float-left mr-30 font-medium">-->
<!--            <li class="cat-item cat-item-2"><a href="category.html">Baseball</a></li>-->
<!--            <li class="cat-item cat-item-3"><a href="category.html">Basketball</a></li>-->
<!--            <li class="cat-item cat-item-4"><a href="category.html">Football: College</a></li>-->
<!--            <li class="cat-item cat-item-5"><a href="category.html">Football: N.F.L.</a></li>-->
<!--            <li class="cat-item cat-item-6"><a href="category.html">Golf</a></li>-->
<!--            <li class="cat-item cat-item-7"><a href="category.html">Hockey</a></li>-->
<!--            <li class="cat-item cat-item-8"><a href="category.html">Soccer</a></li>-->
<!--            <li class="cat-item cat-item-9"><a href="category.html">Tennis</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- footer-bottom aera -->
  <div class="footer-bottom-area bg-white text-muted">
    <div class="container">
      <div class="footer-border pt-20 pb-20">
<!--        <div class="row d-flex mb-15">-->
<!--          <div class="col-12">-->
<!--            <ul class="list-inline font-small">-->
<!--              <li class="list-inline-item"><a href="/pages/about-project">О компании</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row d-flex align-items-center justify-content-between">
          <div class="col-12">
            <div class="footer-copy-right">
              <p class="font-small text-muted">© 2019 -- <%= DateTime.now.year %> Vestida | Все права защищены</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
