<header class="main-header header-style-2 mb-40">
  <div class="header-bottom header-sticky background-white text-center">
    <div class="scroll-progress gradient-bg-1"></div>
    <div class="mobile_menu d-lg-none d-block"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 logo_area">
          <div class="header-logo d-none d-lg-block">
            <a href="/">
              <img class="logo-img d-inline" src="/site2/logo-svg-1.png" alt="">
            </a>
          </div>
          <div class="logo-tablet d-md-inline d-lg-none d-none">
            <a href="/">
              <img class="logo-img d-inline" src="/site2/logo-svg-1.png" alt="">
            </a>
          </div>
          <div class="logo-mobile d-block d-md-none">
            <a href="/">
              <img class="logo-img d-inline" src="/site2/vestida mobi.png" alt="">
            </a>

          </div>
          <span class="off-canvas-toggle mobile_select">Выбрать город</span>
        </div>

        <div class="col-lg-10 col-md-9 main-header-navigation">
          <div class="main-nav text-left float-lg-left float-md-right">
            <nav>
              <ul class="main-menu d-none d-lg-inline">
                <li class="menu-item-has-children">
                  <span class="off-canvas-toggle desktor_select">Выбрать город</span>
                </li>
              </ul>
            </nav>
          </div>
          <form action="/search" method="get" class="search-form d-lg-inline float-right position-relative mr-30 d-none">
            <input type="text" class="search_field" placeholder="Поиск новостей" value="" name="s">
            <span class="search-icon"><i class="ti-search mr-5"></i></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
