<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Вход для пользователей</title>

  <%= favicon_link_tag "publisher/template/favicon.ico" %>

  <%= stylesheet_link_tag 'publisher_sign_in' %>
  <%= csrf_meta_tags %>
</head>

<body id="login_bg">

<nav id="menu" class="fake_menu"></nav>

<div id="login">
  <aside>
    <figure>
      <a href="/">
        <!--        <img src="img/logo_sticky.png" width="155" height="36" data-retina="true" alt="" class="logo_sticky">-->
        <%= image_tag "publisher/template/logo_sticky.png", width: 155, height: 36 %>
      </a>
    </figure>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="access_social">
        <% @user.errors.full_messages.each do |err| %>
          <%= err %><br/>
        <% end %>
      </div>
      <!--      <div class="divider"><span>Or</span></div>-->
      <div class="form-group">
        <label>Email</label>
        <!--        <input type="email" class="form-control" name="email" id="email">-->
        <%= f.email_field :email, autofocus: true, class: 'form-control', id: 'email' %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password' %>
        <!--        <input type="password" class="form-control" name="password" id="password" value="">-->
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="clearfix add_bottom_30">
        <div class="checkboxes float-left">
          <label class="container_check">
            Запомнить
            <%= f.check_box :remember_me %>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="float-right mt-1">
          <a id="forgot" href="/users/password/new">
            Забыли пароль ?
          </a>
        </div>
      </div>
      <!--      <a href="#0" class="btn_1 rounded full-width">Login to Panagea</a>-->
      <%= f.submit "Войти", class: 'btn_1 rounded full-width' %>
      <div class="text-center add_top_10">
        <strong><a href="/users/sign_up">Регистрация</a></strong>
      </div>
    <% end %>
    <div class="copy">© 2018 - 2019 Vestida</div>
  </aside>
</div>
<%= javascript_include_tag 'publisher_sign_in' %>
</body>
</html>