<% provide(:body_class, 'pages-edit') %>
<%= tinymce_assets %>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/pages">Пользователи</a>
    </li>
    <li class="breadcrumb-item active"><%= @publisher.email %></li>
  </ol>

  <%= form_with model: @publisher, url: administrators_publisher_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Обновить информацию профиля</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название компании</label>
            <%= f.text_field :company_name, class: "form-control", placeholder: "Название компании" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.submit "Обновить", class: "btn_1 small pull-left" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @publisher.attributes.each do |attr| %>
    <%= attr %><br/>
  <% end %>

  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_publishers_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>