<% provide(:body_class, 'publishers-index') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Пользователи</li>
  </ol>
  <%= form_with model: @new_publisher, url: administrators_publishers_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Добавить пользователя</h2>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Компания</label>
            <%= f.text_field :company_name, class: "form-control", placeholder: "Название компании" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Регион</label>
            <select id="main_select_region"  data-md-selectize data-md-selectize-bottom data-uk-tooltip="{pos:'top'}" title="region">
              <option value="0" selected>Все области</option>
              <% @regions.each do |region| %>
                <option value="<%= region.id %>"><%= region.title_ru %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div id="select_city_area">
              <label>Город</label>
              <select id="main_select_city" data-md-selectize>
                <option value="0" <%= 'selected' unless @cities %> >Все города</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <%= f.submit "Добавить", class: "btn_1 small pull-right m-top33" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="box_general">
    <div class="header_box version_2">
      <h2>Активные пользователи</h2>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th >Названия</th>
            <th >География</th>
            <th >Издательство</th>
            <th >Дата добавления</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Названия</th>
            <th>География</th>
            <th >Издательство</th>
            <th>Дата добавления</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @publishers.each do |user| %>
            <tr>
              <td>
                 <%= link_to user.email, issuer_path(user) %><br/>
              </td>
              <td>
                <%= link_to user.region.title_ru, '#' %> -> <%= link_to user.city.title_ru, '#' %>
              </td>
              <td>
                <%= link_to user.company_name, '#' %><br/>
              </td>
              <td>
                <%= pretty_datetime user.created_at %>
              </td>
              <td>
                <%= link_to "Авторизоваться", administrators_publisher_path(user) %><br/>
                <%= link_to "Редактировать", edit_administrators_publisher_path(user) %><br/>
                <%= link_to "Удалить", administrators_publisher_path(user), method: :delete,
                            data: { confirm: "Удалить пользователя '#{user.email}' ?" } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="box_general">
    <div class="header_box version_2">
      <h2>Удаленные пользователи</h2>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th >Email's</th>
            <th >География</th>
            <th >Издательство</th>
            <th >Добавлен / удален</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Email's</th>
            <th>География</th>
            <th >Издательство</th>
            <th>Добавлен / удален</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @deleted_publishers.each do |user| %>
            <tr>
              <td>
                <%= link_to user.email, '#' %><br/>
                <%= link_to user.old_email, '#' %>
              </td>
              <td>
                <%= link_to user.region.title_ru, '#' %> -> <%= link_to user.city.title_ru, '#' %>
              </td>
              <td>
                <%= link_to user.company_name, '#' %><br/>
              </td>
              <td>
                <%= pretty_datetime user.created_at %> <br/>
                <%= pretty_datetime user.deleted_at %>
              </td>
              <td>
                <%= link_to "Авторизоваться", administrators_publisher_path(user) %><br/>
                <%= link_to "Редактировать", edit_administrators_publisher_path(user) %><br/>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
