<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-left"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
<!--  <li class="nav-item dropdown">-->
<!--    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--      <i class="fa fa-fw fa-envelope"></i>-->
<!--      <span class="d-lg-none">Сообщения-->
<!--              <span class="badge badge-pill badge-primary">12 Новых</span>-->
<!--            </span>-->
<!--      <span class="indicator text-primary d-none d-lg-block">-->
<!--              <i class="fa fa-fw fa-circle"></i>-->
<!--            </span>-->
<!--    </a>-->
<!--    <div class="dropdown-menu" aria-labelledby="messagesDropdown">-->
<!--      <h6 class="dropdown-header">Новые сообщения:</h6>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--        <strong>David Miller</strong>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--        <strong>Jane Smith</strong>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--        <strong>John Doe</strong>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item small" href="#">View all messages</a>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="nav-item dropdown">-->
<!--    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--      <i class="fa fa-fw fa-bell"></i>-->
<!--      <span class="d-lg-none">Уведомления-->
<!--              <span class="badge badge-pill badge-warning">6 Новых</span>-->
<!--            </span>-->
<!--      <span class="indicator text-warning d-none d-lg-block">-->
<!--              <i class="fa fa-fw fa-circle"></i>-->
<!--            </span>-->
<!--    </a>-->
<!--    <div class="dropdown-menu" aria-labelledby="alertsDropdown">-->
<!--      <h6 class="dropdown-header">Новые уведомления:</h6>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--              <span class="text-success">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--              <span class="text-danger">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="#">-->
<!--              <span class="text-success">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--        <span class="small float-right text-muted">11:21 AM</span>-->
<!--        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--      </a>-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item small" href="#">View all alerts</a>-->
<!--    </div>-->
<!--  </li>-->

  <li class="nav-item">
    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-fw fa-sign-out"></i>Выйти</a>
  </li>
</ul>