<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подтвердите выход</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Выйти из аккаунта администратора ?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
        <%= link_to 'Выйти', destroy_administrator_session_path, method: :delete, class: 'btn btn-primary' %>
<!--        <a class="btn btn-primary" href="login.html">Logout</a>-->
      </div>
    </div>
  </div>
</div>