<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/administrators/dashboard">
      <i class="fa fa-fw fa-tachometer"></i>
      <span class="nav-link-text">Консоль</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/administrators/publishers">
      <i class="fa fa-fw fa-user-o"></i>
      <span class="nav-link-text">Издатели</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#mylistings">
      <i class="fa fa-fw fa-rss"></i>
      <span class="nav-link-text">Записи</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapsePosts">
      <li>
        <a href="/administrators/post_categories">Категори записей</a>
      </li>
      <li>
        <a href="/administrators/posts">Записи</a>
      </li>
    </ul>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/administrators/pages">
      <i class="fa fa-fw fa-file-text-o"></i>
      <span class="nav-link-text">Страницы</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/administrators/cities">
      <i class="fa fa-fw fa-file-text-o"></i>
      <span class="nav-link-text">Города</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/administrators/adverts">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Объявления</span>
    </a>
  </li>


</ul>
