<header class="header">
  <div class="header-wrapper">

    <!--sidebar menu toggler start -->
    <div class="toggle-sidebar material-button">
      <i class="material-icons">&#xE5D2;</i>
    </div>
    <!--sidebar menu toggler end -->

    <!--logo start -->
    <div class="logo-box">
      <h1>
        <a href="/" class="logo"></a>
      </h1>
    </div>
    <!--logo end -->

    <div class="header-menu">

      <div class="test_header_menu" data-show-menu-on-mobile>
      <ul class="header-navigation" >
          <div class="select_region_area header-navigation">
            <select class="main_select_region"  data-md-selectize data-md-selectize-bottom data-uk-tooltip="{pos:'top'}" title="region">
              <option value="0" selected>Все области</option>
              <% @regions.each do |region| %>
                <option value="<%= region.id %>"><%= region.title_ru %></option>
              <% end %>
            </select>
          </div>

          <div class="select_city_area">

            <select class="main_select_city" data-md-selectize>

              <option value="0" <%= 'selected' unless @cities %> >Все города</option>

            </select>
          </div>
        <div class="link_area">
        </div>
      </ul>
      </div>

    </div>
    <div class="header-right with-seperator">

      <!-- header right menu start -->
      <ul class="header-navigation">
        <li>
          <a href="/" class="material-button search-toggle"><i class="material-icons">&#xE8B6;</i></a>
        </li>
        <li>
          <a href="/" class="material-button submenu-toggle"><i class="material-icons">&#xE7FD;</i>
            <span class="hide-on-tablet">
              <% if current_user %>
                <%= current_user.email %>
              <% elsif current_administrator %>
                <%= current_administrator.email %>
              <% elsif current_publisher %>
                <%= current_publisher.email %>
              <% else %>
                Аккаунт
              <% end %>
            </span></a>
          <div class="header-submenu">
            <ul>
              <% if current_administrator == nil  && current_publisher == nil && current_user == nil %>
                <li><a href="/" data-modal="loginPublisherModal">Издатель</a></li>
                <li><a href="/" data-modal="loginUserModal">Пользователь</a></li>
                <li><a href="/users/sign_up">Регистрация</a></li>
              <% else %>
                <li>
                  <% if current_administrator %>
                    <%= link_to 'Выйти', destroy_administrator_session_path, method: :delete %>
                  <% elsif current_publisher %>
                    <%= link_to 'Выйти', destroy_publisher_session_path, method: :delete %>
                  <% elsif current_user %>
                    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="hide-on-mobile"><a href="/" class="material-button" data-modal="newsletterModal"><i class="material-icons">&#xE0E1;</i></a></li>
      </ul>
    </div>

    <div class="search-bar">
      <form class="search-form">
        <div class="search-input-wrapper">
          <input type="text" name="qq" placeholder="Введите текст для поиска" class="search-input">
          <button type="submit" name="search" class="search-submit"><i class="material-icons">&#xE5C8;</i></button>
        </div>
        <span class="search-close search-toggle">
						<i class="material-icons">&#xE5CD;</i>
					</span>
      </form>
    </div>
  </div>
</header>


<!--<div class="extra-posts-header">-->
<!--  <div class="extra-post-wrapper">-->
    <%# @main_menu.menu_items.each do |item| %>
<!--    <div class="columns column-1">-->
<!--      <article class="extra-post-box">-->
<!--          <div class="post-title">-->
<!--            <a href="<%#= item.link %>" class="material-button submenu-toggle"><%#= item.title %></a>-->
<!--          </div>-->
<!--      </article>-->
<!--    </div>-->
    <%# end  %>
<!--  </div>-->
<!--</div>-->

<div class="extra-posts-header">
  <div class="extra-post-wrapper">
    <% @publishers.each do |publisher| %>
      <div class="columns column-1">
        <article class="extra-post-box">
          <div class="post-title">
            <a href="<%= issuer_path(publisher) %>" class="material-button submenu-toggle"><%= publisher.company_name %></a>
          </div>
        </article>
      </div>
    <% end  %>
  </div>
</div>