<div class="m-modal-box" id="newsletterModal">
  <div class="m-modal-overlay"></div>
  <div class="m-modal-content small">
    <div class="m-modal-header">
      <h3 class="m-modal-title">Подписка на рассылку</h3>
      <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
    </div>
    <div class="m-modal-body">
<!--      <p>Подпишитесь , чтобы быть в курсе актульных новостей !</p>-->
      <form>
        <div class="frm-row">
          <input class="frm-input" type="text" name="email" placeholder="Email">
        </div>
        <div class="frm-row">
          <button class="frm-button material-button full"  data-modal="inProgressModel" type="button">Подписаться</button>
        </div>
      </form>
    </div>
  </div>
</div>