<div class="m-modal-box" id="loginPublisherModal">
  <div class="m-modal-overlay"></div>
  <div class="m-modal-content small">
    <div class="m-modal-header">
      <h3 class="m-modal-title">Вход в кабинет издателя</h3>
      <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
    </div>
    <div class="m-modal-body">


      <%= form_for(:publisher, :url => session_path(:publisher)) do |f| %>
        <div class="frm-row">
          <%= f.email_field :email, autofocus: true, class: 'frm-input', id: 'email' %>
        </div>
        <div class="frm-row">
          <%= f.password_field :password, autocomplete: "off", class: 'frm-input', id: 'password' %>
        </div>
        <div class="frm-row">
          <%= f.submit 'Войти', class: 'frm-button material-button full' %>
        </div>
      <% end %>

    </div>
  </div>
</div>