<div class="m-modal-box" id="inProgressModel">
  <div class="m-modal-overlay"></div>
  <div class="m-modal-content small">
    <div class="m-modal-header">
      <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
    </div>
    <div class="m-modal-body">

      <div class="frm-row">
        <p class="txt-center">Этот функционал в разработке.</p>
      </div>

    </div>
  </div>
</div>