<div class="m-modal-box" id="registerModal">
  <div class="m-modal-overlay"></div>
  <div class="m-modal-content small">
    <div class="m-modal-header">
      <h3 class="m-modal-title">Register</h3>
      <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
    </div>
    <div class="m-modal-body">
      <div class="m-modal-social-logins">
        <div class="columns column-2">
          <button class="frm-button facebook material-button full" type="button">Facebook</button>
        </div>
        <div class="columns column-2">
          <button class="frm-button twitter material-button full" type="button">Twitter</button>
        </div>
        <div class="columns column-2">
          <button class="frm-button google material-button full" type="button">Google</button>
        </div>
      </div>

      <div class="m-modal-seperator"><span>OR</span></div>

      <form>
        <div class="frm-row">
          <input class="frm-input" type="text" name="name" placeholder="Name">
        </div>
        <div class="frm-row">
          <input class="frm-input" type="text" name="username" placeholder="Username">
        </div>
        <div class="frm-row">
          <input class="frm-input" type="text" name="email" placeholder="Email">
        </div>
        <div class="frm-row">
          <input class="frm-input" type="text" name="password" placeholder="Password">
        </div>
        <div class="frm-row">
          <label class="frm-check-radio-label"><input type="checkbox" name="test"> <span>I accept your <a href="/">register policy</a>.</span></label>
        </div>
        <div class="frm-row">
          <button class="frm-button material-button full" type="button">Register</button>
        </div>
      </form>
      <div class="frm-row">
        <p class="txt-center">Do you already have an account? <a href="/" data-modal="loginModal">Login</a></p>
      </div>
    </div>
  </div>
</div>