<div class="sidebar">
  <div class="sidebar-wrapper">

    <!-- side menu logo start -->
    <div class="sidebar-logo">
      <a href="/"></a>
      <div class="sidebar-toggle-button">
        <i class="material-icons">&#xE317;</i>
      </div>
    </div>
    <!-- side menu logo end -->

    <!-- showing on mobile screen sizes -->
    <!-- mobile menu start -->
    <div id="mobileMenu">
      <div class="sidebar-seperate"></div>

      <ul class="header-navigation" >
        <div class="select_region_area header-navigation">
          <select class="main_select_region"  data-md-selectize data-md-selectize-bottom data-uk-tooltip="{pos:'top'}" title="region">
            <option value="0" selected>Все области</option>
            <% @regions.each do |region| %>
              <option value="<%= region.id %>"><%= region.title_ru %></option>
            <% end %>
          </select>
        </div>

        <div class="select_city_area">
          <select class="main_select_city" data-md-selectize>
            <option value="0" <%= 'selected' unless @cities %> >Все города</option>
          </select>
        </div>
        <div class="link_area">
        </div>
      </ul>
    </div>
    <!-- mobile menu end -->

    <!-- sidebar menu start -->
    <ul class="sidebar-menu">
      <li class="active">
        <a href="/" class="material-button">
          <span class="menu-icon"><i class="material-icons">&#xE88A;</i></span>
          <span class="menu-label">Главная</span>
        </a>
      </li>
      <li>
        <a href="/pages/about-project" class="material-button">
          <span class="menu-icon"><i class="material-icons">book</i></span>
          <span class="menu-label">Обратная связь</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-seperate"></div>

    <!-- sidebar menu start -->

    <!-- sidebar menu end -->
  </div>
</div>