<% provide(:meta_title, @category.base_object.title) %>
<section class="main-highlight"></section>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <div class="content-timeline">
        <div class="post-list-header">
          <span class="post-list-title"><%= @category.base_object.title %></span>
        </div>
        <div class="timeline-items">
          <% @category.posts.each do |post| %>
            <%= render partial: 'site/shared/post_card', locals: {post: post} %>
          <% end %>
        </div>
        <div class="load-more">
          <button class="load-more-button material-button" type="button">
            <i class="material-icons">&#xE5D5;</i>
            <span data-modal="inProgressModel">Загрузить еще </span>
          </button>
        </div>
      </div>

    </div>
    <%= render partial: 'site/shared/adverts_sidebar' %>
  </div>
</section>