<nav id="menu" class="fake_menu"></nav>

<div id="login">
  <aside>
    <figure>
      <a href="/">
        <!--        <img src="img/logo_sticky.png" width="155" height="36" data-retina="true" alt="" class="logo_sticky">-->
        <%= image_tag "publisher/template/logo_sticky.png", width: 155, height: 36 %>
      </a>
    </figure>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="access_social">
        <!--        <a href="#0" class="social_bt facebook">Login with Facebook</a>-->
        <!--        <a href="#0" class="social_bt google">Login with Google</a>-->
        <!--        <a href="#0" class="social_bt linkedin">Login with Linkedin</a>-->
      </div>
      <!--      <div class="divider"><span>Or</span></div>-->
      <div class="form-group">
        <label>Email</label>
        <!--        <input type="email" class="form-control" name="email" id="email">-->
        <%= f.email_field :email, autofocus: true, class: 'form-control', id: 'email' %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password' %>
        <!--        <input type="password" class="form-control" name="password" id="password" value="">-->
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="clearfix add_bottom_30">
        <div class="checkboxes float-left">
          <label class="container_check">
            Запомнить
            <%= f.check_box :remember_me %>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="float-right mt-1">
          <!--          <a id="forgot" href="/guides/password/new">-->
          <%#= I18n.t "guides.devise.sign_in.forgot_password" %>
          <!--          </a>-->
        </div>
      </div>
      <!--      <a href="#0" class="btn_1 rounded full-width">Login to Panagea</a>-->
      <%= f.submit "Войти", class: 'btn_1 rounded full-width' %>
<!--      <div class="text-center add_top_10"><%#= I18n.t "guides.devise.sign_in.new_user" %>-->
<!--        <strong><a href="/guides/sign_up"><%#= I18n.t "guides.devise.sign_in.sign_up" %></a></strong>-->
<!--      </div>-->
    <% end %>
    <div class="copy">© 2019 - <%= DateTime.now.year  %> Vestida</div>
  </aside>
</div>
