<% provide(:body_class, 'pages-edit') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/cities">Города</a>
    </li>
    <li class="breadcrumb-item active"><%= @city.title_ru %></li>
  </ol>

  <%= form_with model: @city, url: administrators_city_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название</label>
            <%= f.text_field :title_ru, class: "form-control", placeholder: "Заголовок страницы" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Slug
            </label>
            <%= f.text_field :slug, class: "form-control", placeholder: "slug" %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Виджет погоды</label>
            <%= f.text_area :weather, class: "form-control", placeholder: "Виджет погоды", rows: 7 %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Meta-title</label>
            <%= f.text_field :meta_title, class: "form-control", placeholder: "meta_title", rows: 7 %>
          </div>
          <div class="form-group">
            <label>Meta-description</label>
            <%= f.text_area :meta_description, class: "form-control", placeholder: "meta_description", rows: 7 %>
          </div>
          <div class="form-group">
            <label>Meta-keywords</label>
            <%= f.text_area :meta_keywords, class: "form-control", placeholder: "meta_keywords", rows: 7 %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_cities_path, class: 'btn_1 gray small' %></li>
      <li><%= link_to "Просмотр", city_path(@city), class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>
