<% provide(:body_class, 'pages-index') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Страницы</li>
  </ol>
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th >Названия</th>
            <th >Алиасы</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Названия</th>
            <th>Алиасы</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td>
                ru: <%= link_to page.title, edit_administrators_page_path(page) %><br/>
              </td>
              <td>
                ru: <%= page.slug ? page.slug : page.id %><br/>
              </td>
              <td>
                <%= link_to "Редактировать", edit_administrators_page_path(page) %><br/>
                <%= link_to "Просмотр", page_path(page), target: "_blank" %><br/>
                <%= link_to "Удалить", administrators_page_path(page), method: :delete,
                            data: { confirm: "Удалить страницу" } unless page.system %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Добавить", new_administrators_page_path, class: 'btn_1 red small' %></li>
    </ul>
  </div>
</div>