<% provide(:body_class, 'pages-edit') %>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/pages">Страницы</a>
    </li>
    <li class="breadcrumb-item active">Добавить страницу</li>
  </ol>

  <%= form_with model: @page, url: administrators_pages_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название</label>
            <%= f.text_field :title, class: "form-control", placeholder: "Заголовок страницы" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>ЧПУ</label>
            <%= f.text_field :slug, class: "form-control", placeholder: "url" %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Описание</label>
            <%= f.text_area :description, class: "form-control tinymce", placeholder: "Описание", rows: 7 %>
          </div>
        </div>
      </div>
    </div>

    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>SEO</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Meta title</label>
            <%= f.text_field :meta_title, class: "form-control", placeholder: "meta title" %>
          </div>
          <div class="form-group">
            <label>Meta description</label>
            <%= f.text_area :meta_description, class: "form-control", placeholder: "meta description" %>
          </div>
          <div class="form-group">
            <label>Meta keywords</label>
            <%= f.text_area :meta_keywords, class: "form-control", placeholder: "meta keywords" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_pages_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>