<% provide(:body_class, 'dashboard') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Vestida</a>
    </li>
    <li class="breadcrumb-item active">Консоль</li>
  </ol>
  <h2></h2>
  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Консоль</h2>
    </div>
    <h3>Здесь отображаются условия пользования сервисом</h3>

   <p>Инструкция по добавлению видео на страницу записи:</p>
    <ul>
      <li>В личном кабинете издателя необходимо заполнить все обязательные поля (название, категория записи, аннотация)</li>
      <li>Открыть в  YouTube видео, которое будем добавлять на сайт</li>
      <li>Под видео находим кнопку «ПОДЕЛИТЬСЯ» и нажимаем на неё</li>
      <li>В открывшемся окне выбираем иконку < >  «ВСТАВИТЬ»</li>
      <li>Нам открывается новое окно с нашим видео и небольшим кусочком кода/текста. Копируем этот код </li>
      <li>Переходим в личный кабинет издателя и продолжаем создавать новую статью. В разделе Описание в правом верхнем углу находим такой же значок < > нажимаем на него и у нас открывается окно с полем для ввода текста</li>
      <li>В это окно вставляем тот код/текст, который скопировали с YouTube. Можно использовать сочетание клавиш (CTRL+V) или другим привычным способом</li>
      <li>В нижнем углу нажимаем кнопку «SAVE»</li>
    <p>И далее не забываем сохранить всю статью, нажав на кнопку «СОХРАНИТЬ» в правом верхнем углу.</p>
    <p> Если у Вас остались вопросы просим посмотреть короткое видео или обратиться к администратору сайта.</p>
    </ul>

    <iframe width="1000" height="500" src="https://www.youtube.com/embed/KiH06am5zAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>