<% provide(:body_class, 'adverts-new') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/posts">Реклама</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @advert.title %>
      <% if @advert.deleted %>
        <%= link_to "Восстановить", restore_administrators_advert_path(@advert), method: :post, class: 'read m-left10 t--1',
                    title: 'Восстановить' %>
      <% else %>
        <%= link_to "Удалить", administrators_advert_path(@advert), method: :delete,
                    class: 'unread m-left10 t--1', title: 'Удалить' %>
      <% end %>
    </li>
  </ol>

  <% if flash[:errors] %>
    <ol class="breadcrumb model-errors">
      <% flash[:errors].each do |error| %>
        <p class="model-error"><%= error %></p>
      <% end %>
    </ol>
  <% end %>

  <% if flash[:success] %>
    <ol class="breadcrumb flash-success">
      <%= flash[:success] %>
    </ol>
  <% end %>

  <%= form_with model: @advert, url: administrators_advert_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название <small>до 35 символов</small></label>
            <%= f.text_field :title, class: "form-control", placeholder: "Название записи" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>URL></label>
            <%= f.text_field :url, class: "form-control", placeholder: "URL" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Показывать на всех страницах</label>
            <%= f.check_box :show_on_all_pages, class: "form-control m-top-25 " %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Описание  <small>до 50 000 символов</small></label>
            <%= f.text_area :description, class: "form-control tinymce", placeholder: "Описание", rows: 15 %>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>

    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Изображения</h2>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h6>Баннер</h6>
          <h6><small>Рекламное изображение которое будет отображаться в боковой колонке</small></h6>
          <small>338 px * 190 px</small>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <% if @advert.image.to_s.size > 3 %>
                  <%= image_tag @advert.image.admin_edit.to_s, class: "main_avatar" %>
                <% else %>
                  <%= image_tag "noimage/main.png", class: "main_avatar" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.file_field :image %><br/>
        </div>
      </div>
    </div>


      <div class="box_general padding_bottom">
        <div class="header_box version_2">
          <h2>Отладочная информация</h2>
        </div>
        <h3>Advert</h3>
        <div class="row">
          <% @advert.attributes.each do |attr| %>
            <%= attr %><br/>
          <% end %>
        </div>

      </div>
    <% end %>


  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_adverts_path, class: 'btn_1 gray small' %></li>
      <li><%= link_to "Посмотреть", info_advert_path(@advert), class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>
