<% provide(:body_class, 'adverts-index') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Объявления</li>
  </ol>
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable"  cellspacing="0">
          <thead>
          <tr>
            <th>Название</th>
            <th>Город</th>
            <th>Добавлен</th>
            <th class="text-center">Показы | переходы</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Название</th>
            <th>Город</th>
            <th>Добавлен</th>
            <th class="text-center">Показы | переходы</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @adverts.each do |advert| %>
            <tr>
              <td >
                <div style="width: 350px;"><%= link_to advert.title, edit_administrators_advert_path(advert), target: '_blank' %></div>
              </td>
              <td>
                <%= link_to advert.city.title_ru, city_path(advert.city_id) %><br/>
              </td>
              <td>
                <%= pretty_datetime(advert.created_at) %>
              </td>
              <td class="text-center">
                <%= advert.total_views %> | <%= advert.total_redirects %>
              </td>
              <td>
                <%= link_to "Редактировать", edit_administrators_advert_path(advert) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Добавить", new_administrators_advert_path, class: 'btn_1 red small' %></li>
    </ul>
  </div>
</div>
