<% provide(:body_class, 'adverts-new') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/adverts">Объявления</a>
    </li>
    <li class="breadcrumb-item active">Добавить</li>
  </ol>

  <% if flash[:errors] %>
    <ol class="breadcrumb model-errors">
      <% flash[:errors].each do |error| %>
        <p class="model-error"><%= error %></p>
      <% end %>
    </ol>
  <% end %>

  <% if flash[:success] %>
    <ol class="breadcrumb flash-success">
      <%= flash[:success] %>
    </ol>
  <% end %>

  <%= form_with model: @advert, url: administrators_adverts_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Добавить пользователя</h2>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>Название</label>
            <%= f.text_field :title, class: "form-control", placeholder: "Название" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Регион</label>
            <select id="main_select_region"  data-md-selectize data-md-selectize-bottom data-uk-tooltip="{pos:'top'}" title="region">
              <option value="0" selected>Все области</option>
              <% @regions.each do |region| %>
                <option value="<%= region.id %>"><%= region.title_ru %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div id="select_city_area">
              <label>Город</label>
              <select id="main_select_city" data-md-selectize>
                <option value="0" <%= 'selected' unless @cities %> >Все города</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <%= f.submit "Добавить", class: "btn_1 small pull-right m-top33" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_adverts_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>
