<div class="content-sidebar">
  <div class="sidebar_inner">

    <div class="w-title"></div>
    <a href="/pages/about-project" class="widget-ad-box">
      <img src="/template/img/adv_banner.jpeg" width="300" height="200">
    </a>


    <div class="seperator"></div>
    <div class="w-title"></div>
    <a href="#" class="widget-ad-box">
      <img src="/template/img/adbox300x250.png" width="300" height="200">
    </a>

    <div class="seperator"></div>
    <div class="w-title"></div>
    <a href="#" class="widget-ad-box">
      <img src="/template/img/adbox300x250.png" width="300" height="200">
    </a>
  </div>
</div>