<div class="timeline-item">
  <div class="timeline-left">
    <a href="#" class="timeline-category" data-zebra-tooltip title="Запись ленты новостей">
      <i class="material-icons">&#xE894;</i>
    </a>
    <span class="timeline-date"><%= post.created_at.to_date %></span>
  </div>
  <div class="timeline-right">
    <div class="timeline-post-image">
      <a href="<%= post_path(post) %>">
        <% if post.avatar.to_s.size > 5 %>
           <img src="<%= post.avatar.list_element.url %>" width="260">
        <% else %>
          <%= image_tag "noimage/260_146.png", width: 260 %>
        <% end %>
      </a>
    </div>
    <div class="timeline-post-content">
      <%= link_to post.publisher.company_name, issuer_path(post.publisher_id),
                  class: 'timeline-category-name post-publiher' %>
      <a href="<%= city_post_category_url(post.publisher.city_id, post.post_category_id) %>" class="timeline-category-name">
        <%= post.post_category.title %>
      </a>
      <a href="<%= post_path(post) %>">
        <h3 class="timeline-post-title"><%= post.title.truncate(57) %></h3>
        <% if post.created_at > 2.days.ago %>
          <small class="new-label">Новая</small>
        <% end %>
      </a>
      <%= get_post_lead(post).html_safe %>
    </div>
  </div>
</div>