.widget-weather {
  padding-bottom: 0 !important;
}

.colored {
  color: #5181b8 !important;
}


.post-count {
  border: 1px solid #5181b8 !important;
  color: #5181b8 !important;
}

.widget-title {
  font-size: 14px !important;
}

a:hover {
  color: #5181b8 !important;
}

.footer-copy-right {
  text-align: center;
}

.adv-banner {
  padding: 0px !important;
}

.city_title {
  color: #5181b8 !important;
  font-family: 'Fira Sans',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 19.2px;
  list-style-image: none;
  list-style-position: outside;

  .not-colored {
    color: #171616 !important;
  }
}

.logo_area {
  padding-right: 0px;
}

.sidebar-inner {
  width: 100%;

  .link_area {
    width: 65%;
    float: right;
    display: inline-block;

    a {
      //padding: 5px;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
      font-size: 12px;
      color: #5181b8;
      text-decoration: none;
      background-color: white;
      border: 1.5px solid #5181b8;
      border-radius: 5px;
      line-height: 2.75;
      padding: 0 12px;
    }
  }
}

.main-header-navigation {
  padding-left: 0px;

}

.logo_area {

}

.post {
  .additional-data {
    font-size: 14px !important;
  }
}

article {
  .post-thumb {
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  img {
    width: 150px !important;
    height: 150px !important;
  }

  h5 {
    text-align: center;
  }

  .posts {
    li {
      list-style: none;
      margin-bottom: 10px;
      border-bottom: 1px solid #faf5f5;
    }
  }
}

/*Gradient*/
.gradient-bg-1 {
  background: rgb(112, 174, 244);
  background: linear-gradient(90deg, rgba(112, 174, 244, 1) 0%, rgba(81, 132, 190, 1) 50%, rgba(58, 101, 149, 1) 100%);
}

.pagination-area {
  box-sizing: border-box;
  color: rgb(23, 22, 22);
  cursor: pointer;
  display: inline;
  font-family: 'Fira Sans',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  line-height: 13px;
  text-align: left;
  text-decoration-color: rgb(23, 22, 22);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
  visibility: visible;
  position: relative;

  .pagination {
    width: max-content;
    margin: 0px auto;
    color: #171616;
  }

  .previous_page, .current, .next, a {
    margin-right: 5px;
    color: #171616;
  }

  .current {
    color: #5181b8 !important;
  }
}

.nomargin_bottom {
  margin-bottom: 0 !important;
}

.sidebar-widget {
  .post-thumb {
    img {
      width: 370px !important;
      height: auto !important;
    }
  }

  article {

  }
}

// мобилки вертикально
@media only screen and (max-width: 600px) {
  .sidebar-widget {
    margin-bottom: 0 !important;
  }

  .sidebar_row {
    margin-bottom: 0 !important;
  }

  .adv_widget {
    .article {
      margin-bottom: 0px !important;

    }
  }

  .second-adv-banner {
    margin-top: 0px !important;
    margin-top: -10px !important;
  }

  .primary-sidebar {
    .sidebar-widget {
      margin-top: 5px;
    }

    .widget_categories_2 {
      margin-top: 5px !important;
      margin-bottom: 25px !important;
    }

    .widget-weather {

      padding-bottom: 20px !important;

      a {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img {

      }
    }
  }

  .off-canvas-toggle {
    position: relative !important;
    float: right !important;
    margin-right: 15px !important;
    width: max-content !important;
    margin-top: -60px !important;
  }

  .desktor_select {
    display: none;
  }
}

// мобилки горизонтально
@media (min-width: 700px) and (max-width: 1024px) {
  .mobile_select {
    margin-left: 20px;
    position: relative;
    float: right;
    width: max-content;
    margin-top: -60px;
    margin-right: -125px;
  }
  .main-header {
    margin-bottom: 10px !important;
  }

  .sidebar-right {
    .post-on {
      display: none !important;
    }
    .color-white{
      img {
        height: 80px !important;
        width: 80px !important;
      }
    }
    .post-title {
      font-size: 13px !important;
    }

    .adv-payed {
      margin-top: 20px;
      article {
        border-radius: 0px !important;
      }
    }
  }
}

// Основной контент
@media (min-width: 1200px) {
  .posts_list {
    .post-title {
      text-align: left !important;
    }

    .lead_area {
      margin-top: -20px;
      position: relative;
      float: left;
    }
  }

  .off-canvas-toggle {
    float: right;
    position: relative;
    text-align: right;
    margin-top: -60px;

    margin-right: -125px;
  }
  .mobile_select {
    display: none !important;
  }

  .desktor_select {
    margin-top: 0px;
    margin-left: 0px;
    cursor: context-menu;
  }
}

body, a,  {
  font-family: 'Fira Sans',sans-serif !important;
}

.post-aside-style-2 .post-thumb {
  border-radius: 5px !important;

  img {
    border-radius: 5px !important;
  }
}

.latest-post {
  article {
    border-radius: 5px !important;
    .post-thumb-big {
      border-radius: 3px !important;
    }
  }
}

.widget-header {
  border-radius: 5px !important;
}

.sidebar-widget {
  border-radius: 5px !important;
}

.adv_widget {
  .post-thumb {
    border-radius: 5px !important;
    a{
      border-radius: 5px !important;
    }

  }
}


// мобилки вертикально
@media only screen and (max-width: 600px) {
  .sidebar-right {
    margin-bottom: -20px !important;
  }
}
