.category {
  .adv-payed {
    margin-top: 20px;
    article {
      border-radius: 0px !important;
    }
  }

  // мобилки вертикально
  @media only screen and (max-width: 600px) {
    .latest-post {
      margin-bottom: 15px !important;
    }

    .single-excerpt {
      padding: 0 5px !important;
    }

    .sidebar-right {
      margin-top: 0px;
      margin-bottom: 10px !important;
    }

    .adv_widget {
      margin-top: -10px;
      margin-bottom: 0px !important;
    }
    .primary-sidebar {
      margin-top: -10px;

      .sidebar-widget {
        margin-top: 10px !important;
      }
    }

    .posts_list {
      article {
        margin-bottom: 10px !important;
        .post-thumb-big {
          border-radius: 5px !important;
        }
        .post-thumb {
          a {
            max-height: 140px;
            img {
              width: 365px !important;
              height: auto !important;
            }
          }

        }
      }
    }

    .archive-header {
      margin-bottom: 20px !important;
    }

    .pagination-area {

    }
    .sidebar-right {
      margin-top: 0px;
      margin-bottom: -20px !important;
    }
  }

  // основной контент
  @media (min-width: 1281px) {

    .publishers-list {
      article {
        max-height: 170px;

        h5{
          margin-bottom: 2px!important;
        }
      }
    }

    .latest-post {
      margin-bottom: 20px !important;
    }

    .pagination {
      margin-bottom: 20px;
    }

  }
}
