.city {
  .adv-payed {
    margin-top: 20px;
    article {
      border-radius: 0px !important;
    }
  }

  // мобилки вертикально
  @media only screen and (max-width: 600px) {
    .latest-post {
      margin-bottom: 15px !important;
    }

    .single-excerpt {
      padding: 0 5px !important;
    }

    .publishers-list {
      margin-top: -25px;

      article {
        margin-bottom: 10px !important;

        .post-thumb {
          margin: 0px !important;
          a {
            display: none;
            margin-left: auto;
            margin-right: auto;
          }
        }

        img {
          //width: 150px !important;
          //height: 150px !important;

          width: 365px !important;
          height: auto !important;
          max-height: 250px !important;
        }

        h5 {
          text-align: center;
          margin-bottom: 7px !important;
        }

        .posts {
          li {
            list-style: none;
            margin-bottom: 10px;
            border-bottom: 1px solid #e5e1e1;
          }
        }
      }
      .empty_list {
        margin-bottom: 40px !important;
        margin-top: -35px;
      }
    }

    .sidebar-right {
      margin-top: 0px;
      margin-bottom: -20px !important;


      .sidebar-widget{
        .widget-header {
          margin-bottom: 10px !important;
        }

        .list-post {
          li {
            margin-bottom: 10px!important;
          }
        }
      }

    }

    .adv-payed {
      margin-top: 25px !important;
    }

    .adv_widget {
      margin-top: -30px;
      margin-bottom: -10px !important;
    }
    .primary-sidebar {
      margin-top: -50px;

      .sidebar-widget {
        margin-top: 10px !important;
      }
    }
  }

  // мобилки горизонтально
  @media only screen and (min-width: 700px) and (max-width: 1024px)  {
    .mobile_select {
      display: none !important;
    }

    .publishers-list {
      article {
        max-height: 170px;

        h5{
          margin-bottom: 2px!important;
        }
      }
    }

    .sidebar-right {
      .sidebar-widget {
        .post-on {
          display: none;
        }
      }
    }
  }

  // основной контент
  @media (min-width: 1281px) {

      .publishers-list {
        article {
          max-height: 170px;

          h5{
            margin-bottom: 2px!important;
          }
        }
      }
  }
}
