// мобилки вертикально
@media only screen and (max-width: 600px) {
  .selectize-input {
    font-size: 18px !important;
    padding: 13px !important;
  }

  .select_region_area {
    margin-bottom: 5px !important;
  }
  .select_city_area {
    margin-bottom: 10px !important;
  }
  .link_area {
    a {
      font-size: 15px;
    }
  }
}

// мобилки горизонтально
@media (min-width: 700px) and (max-width: 1024px) and (orientation: landscape) {
  .selectize-input {
    font-size: 18px !important;
    padding: 13px !important;
  }

  .select_region_area {
    margin-bottom: 5px !important;
  }
  .select_city_area {
    margin-bottom: 10px !important;
  }
  .link_area {
    a {
      font-size: 15px;
    }
  }
}
