
.home {
  // мобилки вертикально
  @media only screen and (max-width: 600px) {

    .main-header {
      margin-bottom: 15px !important;
    }

    .location_area {
      margin-bottom: 15px;
    }

    .latest-post {
      margin-bottom: 15px !important;
    }

    .single-excerpt {
      padding: 0 5px !important;
    }

    .publishers-list {
      article {
        margin-bottom: 15px !important;

        .post-thumb-big {
          margin: 0px !important;
        }

        .post-thumb {
          margin: 0px !important;

          a {
            display: none;
            margin-left: auto;
            margin-right: auto;
          }
        }

        img {
          //width: 150px !important;
          //height: 150px !important;

          width: 365px !important;
          height: auto !important;
          max-height: 250px !important;
        }

        h5 {
          text-align: center;
          margin-bottom: 5px !important;
        }

        .posts {
          li {
            list-style: none;
            margin-bottom: 10px;
            border-bottom: 1px solid #e5e1e1;
          }
        }
      }
    }

    .sidebar-right {
      margin-top: 10px;
      margin-bottom: 10px !important;

      .sidebar-widget{
        .widget-header {
          margin-bottom: 10px !important;
        }

        .list-post {
          li {
            margin-bottom: 10px!important;
          }
        }
      }
    }
  }

  // мобилки горизонтально
  @media only screen and (min-width: 700px) and (max-width: 1024px)  {
    .publishers-list {
      article {
        max-height: 170px;
      }
    }

    .latest-post {
      margin-bottom: 15px !important;
    }

    .single-excerpt {
      padding: 0 4px !important;
    }

    .mobile_select {
      margin-top: -60px;
      margin-right: 13px;
      float: right;
    }

    .location_area {
      margin-bottom: 12px;

      .post-content {
        text-align: center !important;
      }
    }

    .publishers-list {
      article {
        margin-bottom: 12px !important;

        h5 {
          margin-bottom: 6px !important;
        }

        .post-thumb {
          .color-white {
            img {
              //width: max-content !important;
              //height: auto !important;
              display: none !important;
            }
          }
        }
      }
    }

    .sidebar-right {
      .sidebar-widget {
        margin-bottom: 15px !important;

        .widget-header {
          margin-bottom: 15px !important;
          padding: 7px 10px !important;
        }

        .list-post {
          li {
            margin-bottom: 10px !important;
          }
        }
      }

      .adv_widget {
        .post-thumb {
          a {
            margin: 0 0;

            img {
              width: 100% !important;
            }
          }
        }
      }
    }

    .sidebar_row {
      margin-bottom: 0px !important;
    }

    .widget_categories_2 {
      margin-bottom: 15px !important;
    }

    .adv-banner {
      article {
        margin-bottom: 15px !important;
      }
    }

    .second-adv-banner {
      margin-bottom: 10px !important;
    }

    .mobile_select {
      display: none !important;
      left: 135px;
    }
    .primary-sidebar {
      padding-right: 0px;

      .theiaStickySidebar {
        top: -30px !important;
      }

      .sidebar-widget {
        padding-right: 0px !important;
      }
    }
  }

  // основной контент
  @media (min-width: 1281px) {

    .publishers-list {
      article {
        max-height: 170px;

        h5 {
          margin-bottom: 3px !important;
        }

      }
    }

    .location_area {
      margin-bottom: 20px !important;
    }

  }

  .home {
    .city_title {
      color: #5181b8 !important;

      a {
        color: #5181b8 !important;
      }
    }
  }

}
