.page {
  .entry-header {
    background-color: #e3edfb !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .text-black {
    color: #212529 !important;

    a {
      color: #212529 !important;
    }
  }

  .post-by {
    font-weight: bold;
    margin-bottom: 10px;

    a {
      color: #212529 !important;
    }
  }

  .post-on {
    font-weight: bold;
  }


  // мобилки вертикально
  @media only screen and (max-width: 600px) {
    .page {
      .img-hover-slide {
        min-height: 280px;
      }


      .viewed_posts {
        margin-top: 15px !important;
      }
    }
  }

  // мобилки горизонтально
  @media only screen and (min-width: 700px) and (max-width: 1024px) {

    .page {
      .main-content {
        margin-bottom: 0px !important;
      }
    }


  }

  // Основной контент
  @media (min-width: 1200px) {
    .page {
      iframe {
        max-width: 100% !important;
        margin: auto;
        display: block;
      }
    }


  }
}
