.post2 {
  .entry-header {
    background-color: #e3edfb;

    .text-black {
      color: #212529 !important;
      a {
        color: #212529 !important;
      }
    }

    .post-by {
      padding: 5px;
      a {
        color: #212529 !important;
      }
      a:hover {
        color: #212529 !important;
      }
    }
  }

  iframe {
    max-width: 100% !important;
    margin: auto;
    display: block;
  }

  // Основной контент
  @media (min-width: 1200px) {
    .related-posts {
      h5 {
        max-height: 20px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
      }
    }
  }

  // мобилки вертикально
  @media only screen and (max-width: 699px) {


    .hit-count {
      font-size: 12px;
    }

    .author-image {
      width: max-content;
      float: left;
      margin-right: 10px;
    }

    .author-bio {
      padding: 10px !important;
      margin-bottom: 15px !important;

      .author-image {
        margin-bottom: 0px !important;
      }
    }


    .related-posts {
      h3 {
        text-align: center;
        margin-bottom: 15px !important;
      }
      article {
        .background-white {
          margin-bottom: 10px !important;
          .category_area{
            display: none !important;
          }

          .post-thumb {
            a {
              max-height: 140px;
              img {
                width: 365px !important;
                height: auto !important;
              }
            }

          }
        }

      }
      .entry-meta {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px !important;

        .post-by {
          float: left;
          width: max-content;
          margin-bottom: 0px !important;
        }

        .hit-count {
          float: right;
          width: max-content;
        }
      }

    }

    .sidebar-right {
      margin-top: 0px;
      margin-bottom: 10px !important;

      .sidebar-widget {
        .widget-header {
          margin-bottom: 10px !important;
        }
      }
    }

    .main-content {
      margin-bottom: 5px !important;
    }
    .widget-title {
      text-align: center;
    }

    .new_posts {
      .list-post {
        li {

        }
      }
    }

    .viewed_posts{
      margin-top: 15px !important;
    }
  }

  // мобилки горизонтально
  @media only screen and (min-width: 700px) and (max-width: 1024px)  {
    .author-bio {
      padding-bottom: 0px !important;
      margin-bottom: 15px !important;
      margin-top: 20px !important;
    }

    .related-posts {
      h3 {
        margin-bottom: 20px !important;
      }

      .post-thumb {
        display: none !important;
      }

      article {
        .background-white {
          margin-bottom: 20px !important;
          padding-top: 25px !important;

          .entry-meta {
            float: right !important;
          }
          .category_area {
            float: left !important;
            margin-top: 35px !important;
          }

          .post-title {
            a {
              margin-right: 50px !important;
            }
          }
        }
      }
    }

    .main-content{
      margin-bottom: 0px !important;
    }

    .sidebar-right {
      .widget-header {
        margin-bottom: 15px !important;
      }

      .list-post {
        li {
          margin-bottom: 15px !important;
        }
      }
      article {

      }
    }
  }
}
