// мобилки вертикально
@media only screen and (max-width: 600px) {
  .publisher {
    .primary-sidebar {
      .sidebar-widget {
        margin-top: 15px;
      }

      .widget-weather {

        padding-bottom: 20px !important;

        a {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        img {

        }
      }
    }

    .sidebar-right {
      margin-top: 20px;
    }

    .posts_list {
      article {
        margin-bottom: 10px !important;

        .post-thumb-big {
          border-radius: 5px !important;
        }

        .post-thumb {
          a {
            max-height: 140px;

            img {
              width: 365px !important;
              height: auto !important;
            }
          }

        }
      }
    }

    .archive-header {
      margin-bottom: 20px !important;
    }
  }

  .latest-post {
    margin-bottom: 30px !important;
  }
}

// мобилки горизонтально
@media (min-width: 700px) and (max-width: 1281px) {
  .publisher {

    .mobile_select {
      display: none !important;
    }

    .posts_list {
      article {
        .post-on {
          display: none;
        }

        h5 {
          text-align: left;
        }

        .info_area {
          clear: both;
          width: 100%;
          margin-bottom: 7px !important;
        }
      }
    }

    .sidebar-right {
      margin-top: 25px !important;
      .sidebar-widget {
        .post-on {
          display: none;
        }
      }
      .list-post {
        li {
          margin-bottom: 20px !important;
        }
      }
    }

    .latest-post {
      margin-bottom: 10px !important;
    }

    .pagination-area {
      margin-top: -10px !important;
    }
  }
}


// Основной контент
@media (min-width: 1200px) {
  .publisher {
    main {
      margin-bottom: 20px;
    }

    .latest-post {
      margin-bottom: 30px !important;
    }
  }
}
