// мобилки вертикально
@media only screen and (max-width: 600px) {
  .search {

    .posts_list {
      article {
        margin-bottom: 10px !important;
        .post-thumb {
          a {
            max-height: 140px;
            img {
              width: 365px !important;
              height: auto !important;
            }
          }

        }
      }
    }

    .archive-header {
      margin-bottom: 20px !important;
    }
  }
}

// Основной контент
@media (min-width: 1200px) {
  .search {
    main {
      margin-bottom: 20px;
    }

    .latest-post {
      margin-bottom: 30px !important;
    }
  }
}
