<div class="col-lg-3 col-md-6 col-sm-12">
  <div class="widget-header mb-30">
    <h5 class="widget-title">Новые комментарии</h5>
  </div>
  <div class="sidebar-widget p-20 border-radius-15 bg-white widget-latest-comments wow fadeIn  animated">
    <div class="post-block-list post-module-6">

      <%= comments.each do |comment| %>
      <div class="last-comment mb-20 d-flex wow fadeIn">
        <span class="item-count vertical-align">
          <a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts">
           <% if comment&.post&.avatar %>
              <%= image_tag comment.post.avatar.s80_80.url %>
            <% else %>
              <%= image_tag 'noimage/main2.png' %>
            <% end %>
          </a>
        </span>
        <div class="alith_post_title_small">
          <p class="font-medium mb-10">
          <%= link_to comment.content, post_path(comment.post_id) %>
          </p>
          <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
            <span class="post-by"><%= link_to comment.post&.title, post_path(comment.post_id) %></span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
