<div class="col-lg-4 col-md-6 col-sm-12 hot_posts">
  <div class="sidebar-widget mb-md-30">
    <div class="widget-header mb-30">
      <h5 class="widget-title">Популярное</h5>
    </div>
    <div class="post-aside-style-2">
      <ul class="list-post">
          <% posts.each do |post| %>
            <% cache post do %>
              <li class="mb-30 wow fadeIn animated">
              <div class="d-flex">
                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                  <a class="color-white" href="<%= post_path(post) %>">
                    <% if post.avatar.to_s.size > 5 && !Rails.env.development? %>
                      <%= image_tag post.avatar.s80_80.url %>
                    <% else %>
                      <%= image_tag 'noimage/main2.png' %>
                    <% end %>
                  </a>
                </div>
                <div class="post-content media-body">
                  <h6 class="post-title mb-10 text-limit-2-row">
                      <%= link_to post.title, post_path(post) %>
                  </h6>
                  <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase">
                    <span class="post-by"><%= link_to post.post_category&.title, '#' %></span>
                    <span class="hit-count"><i class="ti-eye mr-5"></i><%= post.total_views %></span>
                  </div>
                </div>
              </div>
            </li>
            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>
