<div class="sidebar-widget mb-30">
  <div class="widget-header position-relative mb-30">
    <div class="row">
      <div class="col-7">
        <h4 class="widget-title mb-0">Сейчас читают</h4>
      </div>

    </div>
  </div>
  <div class="post-aside-style-1 border-radius-10 p-20 bg-white">
    <ul class="list-post">
      <% posts.each do |post| %>
        <% cache post do %>
          <li class="mb-20">
          <div class="d-flex">
            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
              <a class="color-white" href="<%= post_path(post) %>">
                <% if post.avatar.to_s.size > 5 && !Rails.env.development? %>
                  <%= image_tag post.avatar.s80_80.url %>
                <% else %>
                  <%= image_tag 'noimage/main2.png' %>
                <% end %>
              </a>
            </div>
            <div class="post-content media-body">
              <h6 class="post-title mb-10 text-limit-2-row"><%= link_to post.title, post_path(post) %></h6>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
