<div class="related-posts">
  <h3 class="mb-30">Похожие записи</h3>
  <div class="row">
    <% posts.each do |post| %>
      <% cache post do %>
        <article class="col-lg-4">
        <div class="background-white border-radius-10 p-10 mb-30">
          <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
            <a href="<%= post_path(post) %>">
              <% if post.avatar.to_s.size > 5 && !Rails.env.development?  %>
                <%= image_tag post.avatar.url %>
              <% else %>
                <%= image_tag 'noimage/main2.png' %>
              <% end %>
            </a>
          </div>
          <div class="pl-10 pr-10">
            <div class="entry-meta mb-15 mt-10 category_area">
              <a class="entry-meta meta-2" href="#">
                <span class="post-in not-colored font-x-small"><%= post.post_category&.title  %></span></a>
            </div>
            <h5 class="post-title mb-15">
              <%= link_to post.title, post_path(post) %>
            </h5>
            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
              <span class="post-by"><%= pretty_datetime(post.created_at) %></span>
              <span class="hit-count"><i class="ti-eye mr-5"></i><%= post.public_total_views %></span>
            </div>
          </div>
        </div>
      </article>
      <% end %>
    <% end %>
  </div>
</div>
