<% provide(:body_class, 'posts-edit') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/publishers/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/publishers/posts">Записи</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @post.title %>

      <% if @post.published? %>
        <%= link_to "Опубликована", unpublish_publishers_post_path(@post), method: :post, class: 'read m-left10 t--1',
                                                                          title: 'Снять с публикации' %>
      <% elsif @post.not_published? %>
        <%= link_to "Не опубликована", publish_publishers_post_path(@post), method: :post,
                    class: 'unread m-left10 t--1', title: 'Опубликовать' %>
      <% end %>
    </li>
  </ol>

  <% if flash[:errors] %>
  <ol class="breadcrumb model-errors">
    <% flash[:errors].each do |error| %>
      <p class="model-error"><%= error %></p>
    <% end %>
  </ol>
 <% end %>

  <% if flash[:success] %>
    <ol class="breadcrumb flash-success">
      <%= flash[:success] %>
    </ol>
  <% end %>

  <%= form_with model: @post, url: publishers_post_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Название <small>до 35 символов</small></label>
            <%= f.text_field :title, class: "form-control", placeholder: "Название записи" %>
          </div>
        </div>
        <div class="col-md-6 category-area">
          <div class="form-group">
            <label>Категория записи</label>
            <%= f.select :post_category_id, @post_categories, {include_blank: 'Не выбрана'},
                         {class: 'selectize-one-option'} %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Аннотация <small>до 220 символов</small></label>
            <br/>
            <small>Краткая информация о записи. Этот текст отображается на странице города или категории</small>
            <%= f.text_area :lead, class: "form-control tinymce", placeholder: "Лид", rows: 10 %>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Описание  <small>до 50 000 символов</small></label>
            <small>Основной текст статьи. Здесь можно размещать фотографии и вставлять видео.</small>
            <%= f.text_area :description, class: "form-control tinymce", placeholder: "Описание", rows: 15 %>
          </div>
        </div>
      </div>
    </div>


    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Изображения</h2>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h6>Основное изображение</h6>
          <h6><small>Аватарка записи, которая отображается в списке записей</small></h6>
          <small>640 px * 480 px</small>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <% if @post.avatar.to_s.size > 3 %>
                  <%= image_tag @post.avatar.admin_edit.to_s, class: "main_avatar" %>
                <% else %>
                  <%= image_tag "noimage/main.png", class: "main_avatar" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.file_field :avatar %><br/>

        </div>
<!--        <div class="col-md-6">-->
<!--          <h6>Широкое изображение</h6>-->
<!--          <h6><small>Основное изображение на странице записи.</small></h6>-->
<!--          <small>1400 px * 900 px</small>-->
<!--          <div class="row">-->
<!--            <div class="col-md-8">-->
<!--              <div class="form-group">-->
                <%# if @post.large_avatar.to_s.size > 3 %>
                  <%#= image_tag @post.large_avatar.admin_edit.to_s, class: "large_avatar" %>
                <%# else %>
                  <%#= image_tag "noimage/main.png", class: "large_avatar" %>
                <%# end %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <%#= f.file_field :large_avatar %><br/>-->

<!--        </div>-->
      </div>
      <!-- /row-->
    </div>

    <% if current_publisher.full_access == true %>
      <div class="box_general padding_bottom">
        <div class="header_box version_2">
          <h2>Отладочная информация</h2>
        </div>
        <h3>Post</h3>
        <div class="row">
          <% @post.attributes.each do |attr| %>
            <%= attr %><br/>
          <% end %>
        </div>

        <h3>Publisher</h3>
        <div class="row">
          <% current_publisher.attributes.each do |attr| %>
            <%= attr %><br/>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Посмотреть", post_path(@post.id), class: 'btn_1 gray small' %></li>
      <li><%= link_to "Назад", publishers_posts_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>
