<% provide(:body_class, 'posts-index') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Записи</li>
  </ol>
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable"  cellspacing="0">
          <thead>
          <tr>
            <th>Название</th>
            <th >Категория</th>
            <th >Статус</th>
            <th >Добавлена</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th >Названия</th>
            <th >Категория</th>
            <th >Статус</th>
            <th >Добавлена</th>
            <th>Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td >
                <div style="width: 350px;"><%= link_to post.title, post_path(post), target: '_blank' %></div>
              </td>
              <td>
                 <%= link_to post.post_category.title, post_path(post), target: '_blank' %><br/>
              </td>
              <td>
                <%= string_state_of_post(post) %>
              </td>
              <td>
                <%= pretty_datetime(post.created_at) %>
              </td>
              <td>
                <% if post.published? %>
                  <%= link_to "Снять с публикации", unpublish_publishers_post_path(post), method: :post %> <br/>
                <% elsif post.not_published? %>
                  <%= link_to "Опубликовать", publish_publishers_post_path(post), method: :post %> <br/>
                <% end %>
                <%= link_to "Редактировать", edit_publishers_post_path(post) %> <%= '|' if post.not_published? %>
                <%= link_to "Удалить", publishers_post_path(post), method: :delete,
                            data: { confirm: "Удалить запись '#{post.title}' ?" } if post.not_published? %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Добавить", new_publishers_post_path, class: 'btn_1 red small' %></li>
    </ul>
  </div>
</div>