<% provide(:body_class, 'posts-edit') %>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/publishers/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/publishers/post_categories">Записи</a>
    </li>
    <li class="breadcrumb-item active">Новая запись</li>
  </ol>

  <% if flash[:errors] %>
    <ol class="breadcrumb model-errors">
      <% flash[:errors].each do |error| %>
        <p class="model-error"><%= error %></p>
      <% end %>
    </ol>
  <% end %>

  <% if flash[:success] %>
    <ol class="breadcrumb flash-success">
      <%= flash[:success] %>
    </ol>
  <% end %>

  <%= form_with model: @post, url: publishers_posts_path, local: true do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2>Основная информация</h2>
        <%= f.submit "Сохранить", class: "btn_1 small pull-right" %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Название <small>до 35 символов</small></label>
            <%= f.text_field :title, class: "form-control", placeholder: "Название записи" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Описание <small>до 50 000 символов</small></label>
            <%= f.text_area :description, class: "form-control tinymce", placeholder: "Описание", rows: 15 %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", publishers_posts_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>