<% provide(:meta_title, @publisher.company_name) %>
<section class="main-highlight"></section>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <div class="content-timeline">
        <div class="post-list-header">
          <span class="post-list-title">Страница издательства "<%= @publisher.company_name %>"</span>
        </div>

        <div class="breadcrumb">
          <ul>
            <li><a href="/"><span>Главная</span></a> <i class="material-icons"></i></li>
            <li><a href="#"><span>Все города</span></a> <i class="material-icons"></i></li>
            <li><%= link_to @publisher.city.title_ru, city_path(@publisher.city_id) %> <i class="material-icons"></i></li>
            <li><span><%= @publisher.company_name %></span></li>
          </ul>
        </div>

        <div class="timeline-items">
          <% if @posts.size > 0 %>
          <% @posts.each do |post| %>
            <%= render partial: 'site/shared/post_card', locals: {post: post} %>
          <% end %>
            <div class="load-more">
              <button class="load-more-button material-button" type="button">
                <i class="material-icons">&#xE5D5;</i>
                <span data-modal="inProgressModel">Загрузить еще </span>
              </button>
            </div>
          <% else %>
            <p>У этого издателя пока нет опубликованных новостей</p>
          <% end %>
        </div>

      </div>
    </div>
    <%= render partial: 'site/shared/adverts_sidebar' %>
  </div>
</section>