<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Vestida 2018 - <%= Time.new.year %></small>
    </div>
  </div>
</footer>
<!--<a class="scroll-to-top rounded" href="#page-top">-->
<!--  <i class="fa fa-angle-up"></i>-->
<!--</a>-->