<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/publishers/dashboard">
      <i class="fa fa-fw fa-tachometer"></i>
      <span class="nav-link-text">Консоль</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/publishers/posts">
      <i class="fa fa-fw fa-rss"></i>
      <span class="nav-link-text">Записи</span>
    </a>
  </li>

<!--  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">-->
<!--    <a class="nav-link" href="/publishers/adverts">-->
<!--      <i class="fa fa-fw fa-adversal"></i>-->
<!--      <span class="nav-link-text">Реклама</span>-->
<!--    </a>-->
<!--  </li>-->

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/publishers/edit_profile">
      <i class="fa fa-fw fa-user"></i>
      <span class="nav-link-text">Профиль</span>
    </a>
  </li>

<!--  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">-->
<!--    <a class="nav-link" href="/publishers/comments">-->
<!--      <i class="fa fa-fw fa-commenting-o"></i>-->
<!--      <span class="nav-link-text">Комментарии</span>-->
<!--    </a>-->
<!--  </li>-->
</ul>
