//= require publisher/template/bootstrap.min
//= require publisher/template/font-awesome
//= require publisher/template/style
//= require publisher/template/vendors
//= require publisher/template/custom

//#login_bg, #register_bg {
//  background-image: url("publisher/template/hero_in_bg_3.jpg") !important;
//}

.btn_1 {
  background: #095d99;
}

a {
  color: #095d99;
}

#login aside, #register aside {
  position: relative;
  margin: 0px auto;
}
