// файлы шаблона
//= require ./site/template/zebra_tooltips.min
//= require ./site/template/owl.carousel
//= require ./site/template/main-style
//= require ./site/template/responsive-style

//= require selectize
//= require selectize.default

// кастомизация страниц
//= require_tree ./site/pages

.article-header {
  .breadcrumb {
    li {
      .material-icons {
        top: 2px;
        padding-right: 5px;
        padding-left: 2px;
      }
    }
  }
}

.parallax-box .post-title {
  font-size: 46px
}

.city-select {
  margin-top: 9px;
  margin-left: 5px;
  margin-right: -25px;
  select {
    width: 75%;
    padding: 7px 14px;
  }
}

.logo {
  width: 122px;
  height: 27px;
  display: block;
  background-image: url("/template/img/logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.sidebar-logo a {
  //width: 80px;
  //height: 30px;
  background-image: url("/template/img/logo-mono.png");
  display: inline-block;
  margin: 16px 24px;
  float: left;
  width: 26.5%;
  height: 55%;
  background-size: cover;
  margin-left: 95px !important;
}

.seperator {
  width: 100%;
  height: 14px;
  background-image: url("/template/img/seperator.png");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 6px;
  margin-bottom: 20px;
}

.w-seperator {
  display: table-cell;
  height: 10px;
  width: 100%;
  background-image: url("/template/img/seperator.png");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 6px;
  top: 9px;
  position: relative;
  opacity: .6;
}

.extra-posts-header {
  margin-top: 80px;
  padding-bottom: 0;
  .column-1 {
    width: auto;
    .extra-post-box {
      .post-title {
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}

.main-container{
  width: 100%;
  margin-top: 15px;
}

.header-menu{
  width: 40%;

  .select_region_area {
    width: 30%;
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
  }
  .select_city_area {
    width: 27%;
    float: left;
    display: inline-block;
    margin-top: 15px;
  }

  .link_area {
    margin-top: 15px;
    width: 37%;
    float: right;
    display: inline-block;

    a{
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
      font-size: 12px;
      color: #0054a6;
      text-decoration: none;
      background-color: white;
      border: 1px solid #b8b8b8;
      border-radius: 5px;
    }
  }
}

.w-boxed-post {
  .active {
    .p-title {
      color: white !important;
    }
    .p-icons {
      color: white !important;
    }
  }
}

.selectize-input {
  padding: 5px 8px !important;
}

.logo-box {
  margin-left: 0px;
}

.selectize-input, .items, .full, .has-options, .has-items, .focus, .input-active, .dropdown-active {
  z-index: inherit !important;
}

header {
  padding-top: 0px !important;
}

.post-publiher {
  background-color: #095d99;
  color: white !important;
  font-weight: bold !important;
}

.article-inner {
  margin-left: 0px;
}

.post-large-avatar {
  width: 100%;
  margin-bottom: 20px;
}


.publishers-list {

  .timeline-item {
    border: 2px solid #AFB5BC; // #e9ecef
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .timeline-right {
    padding: 0px;
  }

  .timeline-post-title {
    color: #0054a6 !important;
  }
  .timeline-post-info {
    margin-top: 5px;
    a {
      font-size: 16px !important;
      margin-top: 5px;
      margin-left: 5px;
      border-bottom: 1px solid #AFB5BC;
    }
    p {
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}

.post-list-header {
  margin-bottom: 10px;
}

.main-content{
  margin-top: 0px;
}

.sidebar_inner {
  top: 0px !important;
}

iframe {
  min-height: 450px;
}


@media (min-width: 481px) and (max-width: 767px) {
  .select_region_area {
    padding: 0 12px;
    margin-top: 5px;
  }


  .select_city_area {
    padding: 0 12px;
    margin-top: 5px;
  }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .select_region_area {
    padding: 0 12px;
    margin-top: 5px;
  }


  .select_city_area {
    padding: 0 12px;
    margin-top: 5px;
  }


  .link_area {
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 0px;

    a{
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
      font-size: 12px;
      color: #0054a6;
      text-decoration: none;
      background-color: white;
      border: 1px solid #b8b8b8;
      border-radius: 5px;
      width: 100px;
    }
  }
}

.new-label {
  color: #0054a6;
}