<article class="p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
  <div class="d-md-flex d-block">
    <div class="post-thumb post-thumb-big d-flex mr-15 border-radius-15 img-hover-scale">
      <a class="color-white" href="<%= post_path(post) %>">
        <% if post.avatar.to_s.size > 5 && !Rails.env.development? %>
          <img src="<%= post.avatar.url %>" width="150">
        <% else %>
          <%= image_tag "noimage/main2.png", width: 150 %>
        <% end %>
      </a>
    </div>
    <div class="post-content media-body">
      <h5 class="post-title mb-15 text-limit-2-row"><%= link_to post.title, post_path(post) %></h5>
      <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase info_area">
        <span class="post-by colored font-x-small"><%= link_to post&.post_category.title, city_post_category_path(post.city_id, post.post_category_id) %></span>
        <span class="post-on"><%= pretty_datetime(post.created_at) %></span>
        <span class="time-reading">Время чтения: <%= time_reading(post) %></span>
      </div>
      <div class="lead_area">
      <p class="post-exerpt font-medium text-muted mb-30 d-none d-lg-block"><%= get_post_lead(post).html_safe %></p>
      </div>
    </div>
  </div>
</article>
