<article class="p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
  <div class="d-md-flex d-block">
    <div class="post-thumb post-thumb-big d-flex mr-15 border-radius-15 img-hover-scale">
      <a class="color-white" href="<%= issuer_path(publisher) %>">
        <% if publisher.avatar.to_s.size > 5 && !Rails.env.development? %>
          <img src="<%= publisher.avatar.s150_150.url %>" width="150">
        <% else %>
          <%= image_tag "noimage/main2.png", width: 150, height: 120 %>
        <% end %>
      </a>
    </div>
    <div class="post-content media-body">
      <h5 class="post-title mb-15 text-limit-2-row"><%= link_to publisher.company_name, issuer_path(publisher) %></h5>

      <ul class="posts">
        <% publisher.posts.order('created_at DESC').limit(10).each do |post| %>
          <li><%= link_to post.title, post_path(post) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</article>
