<section class="main-highlight">
  <div class="highlight-carousel">
  </div>
</section>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <div class="content-timeline">
        <div class="post-list-header">

          <span class="post-list-title">
            <% if @page.location %>
              Последние новости города <%= @page.location.title_ru %> <small>(определено автоматически)</small>
            <% else %>
              Актуальные новости
            <% end %>
          </span><br/>
        </div>

        <div class="timeline-items">


          <% @page.newsfeed_posts.each do |post| %>
            <%= render partial: 'site/shared/post_card', locals: {post: post} %>
          <% end %>
        </div>
        <div class="load-more">
          <button class="load-more-button material-button" type="button">
            <i class="material-icons">&#xE5D5;</i>
            <span data-modal="inProgressModel">Загрузить еще </span>
          </button>
        </div>
      </div>
    </div>
    <%= render partial: 'site/shared/adverts_sidebar' %>
  </div>
</section>