<section class="main-highlight"></section>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <div class="content-timeline">
        <div class="post-list-header">

            <span class="post-list-title">
              <small>Ваш город:</small> <%= @page.location.title_ru if @page.location %>
              <small>(определено автоматически)</small>
            </span>
        </div>


        <div class="timeline-items publishers-list">

          <% if @page.publishers.size > 0 %>
            <% @page.publishers.each do |publisher| %>
              <div class="timeline-item">

                <div class="timeline-right">
                  <div class="timeline-post-image">
                    <a href="<%= issuer_path(publisher) %>">
                      <% if publisher.avatar.to_s.size > 5 %>
                        <img src="<%= publisher.avatar.list_element.url %>" width="260">
                      <% else %>
                        <%= image_tag "noimage/260_146.png", width: 260 %>
                      <% end %>
                    </a>
                  </div>
                  <div class="timeline-post-content">

                    <a href="<%= issuer_path(publisher) %>">
                      <h3 class="timeline-post-title"><%= publisher.company_name %></h3>
                    </a>
                    <div class="timeline-post-info">
                      <% if publisher.hot_news.size > 0 %>
                        <% publisher.hot_news.each do |post| %>

                          <a href="<%= post_path(post) %>" class="author"><%= post.title.truncate(57) %></a>
                          <% if post.created_at > 2.days.ago %>
                            <small class="new-label">Новая</small>
                          <% end %>
                          <br/>
                        <% end %>
                      <% else %>
                        <p>Актуальных новостей пока нет</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          <% else %>


            <p>В этом городе пока нет издателей.</p>
            <p>Вы издательство, блогер или просто хотите попробовать себя в этой сфере ?
              Напишите на почту admin@vestida.ru для получения доступа к дополнительным возможностям проекта. </p>
            <h4>Популярные издатели</h4>
            <% @page.random_publishers.each do |publisher| %>
              <div class="timeline-item">

                <div class="timeline-right">
                  <div class="timeline-post-image">
                    <a href="<%= issuer_path(publisher) %>">
                      <% if publisher.avatar.to_s.size > 5 %>
                        <img src="<%= publisher.avatar.list_element.url %>" width="260">
                      <% else %>
                        <%= image_tag "noimage/260_146.png", width: 260 %>
                      <% end %>
                    </a>
                  </div>
                  <div class="timeline-post-content">

                    <a href="<%= issuer_path(publisher) %>">
                      <h3 class="timeline-post-title"><%= publisher.company_name %></h3>
                    </a>
                    <div class="timeline-post-info">
                      <% if publisher.hot_news.size > 0 %>
                        <% publisher.hot_news.each do |post| %>

                          <a href="<%= post_path(post) %>" class="author"><%= post.title.truncate(57) %></a>
                          <% if post.created_at > 2.days.ago %>
                            <small class="new-label">Новая</small>
                          <% end %>
                          <br/>
                        <% end %>
                      <% else %>
                        <p>Актуальных новостей пока нет</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>



          <% end %>

        </div>

      </div>
    </div>
    <%= render partial: 'site/shared/adverts_sidebar' %>
  </div>
</section>