<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <article class="article-wrapper">
        <div class="article-header">
          <div class="breadcrumb">
            <ul>
              <li><a href="/"><span>Главная</span></a> <i class="material-icons">&#xE315;</i></li>

              <a href="#"><span><%= @page.title %></span></a></li>
            </ul>
          </div>

          <div class="article-header-title">
            <h1 class="article-title"><%= @page.title %></h1>
          </div>

          <div class="article-meta-info">
            <span class="article-post-date"><%= pretty_datetime(@page.created_at) %></span>
          </div>

        </div>
        <div class="article-content">
          <div class="article-inner">
            <div class="article-description">
              <%= @page.description.html_safe if @page.description %>
            </div>
          </div>

          <!--this is important for the left ad box or share box fixer -->
          <div id="endOfTheArticle"></div>


        </div>
      </article>
      <!-- article body end -->

    </div>
    <%= render partial: "site/shared/adverts_sidebar" %>
  </div>
</section>