<% provide(:body_class, 'posts-index') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item active">Комментарии</li>
  </ol>
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th >Текст</th>
            <th >Запись</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Названия</th>
            <th >Категория</th>
            <th style="width: 20%">Ссылки</th>
          </tr>
          </tfoot>
          <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
               <%= comment.content %><br/>
              </td>
              <td>
                <%= link_to comment.post.title, post_path(comment.post_id), target: '_blank' %><br/>
              </td>
              <td>
                <%= link_to "Посмотреть", post_path(comment.post_id) %> |
                <%= link_to "Удалить", users_comment_path(comment), method: :delete,
                            data: { confirm: "Удалить комментарий ?" } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="buttons_container">
    <ul>
      <li><%= link_to "Добавить", new_users_post_path, class: 'btn_1 red small' %></li>
    </ul>
  </div>
</div>