<div class="sidebar-widget adv_widget">
  <div class="post-aside-style-3">
    <article class="bg-white p-10 wow fadeIn animated">
      <div class="post-thumb d-flex img-hover-scale">
        <a href="/pages/about-project">
          <img src="/site2/adv_banner.jpeg" alt="">
        </a>
      </div>
    </article>
  </div>
</div>
<% if defined?(advert) && advert %>
  <div class="sidebar-widget mb-30 second-adv-banner adv_widget adv-banner adv-payed">
    <div class="post-aside-style-3">
      <article class="bg-white border-radius-15 mb-30 p-10 wow fadeIn animated">
        <div class="post-thumb d-flex border-radius-15 img-hover-scale">
          <a href="<%= advert_path(advert.id) %>" target="_blank">
            <% if Rails.env.development? %>
              <img src="/rzd.png" alt="">
            <% else %>
              <%= image_tag advert.image.to_s %>
            <% end %>
          </a>
        </div>
      </article>
    </div>
  </div>
<% end %>

