<div class="sidebar-widget widget_categories border-radius-10 bg-white mb-30">
  <div class="widget-header position-relative mb-15">
    <h5 class="widget-title"><strong>Категории новостей</strong></h5>
  </div>
  <ul class="font-small text-muted">
    <% sidebar_categories.each do |category| %>
      <li class="cat-item cat-item-2 active">
        <a href="<%= city_post_category_url(category[:city_id], category[:category_id]) %>"><%= category[:category_title] %></a></li>
    <% end %>
  </ul>
</div>
