<div class="sidebar-widget widget_categories_2 border-radius-10 bg-white mb-30">
  <div class="widget-header position-relative mb-15">
    <h5 class="widget-title"><strong>
      <% if defined?(title) %>
        <%= title %>
      <% else %>
        Издатели этого города
      <% end %>
        </strong></h5>
  </div>
  <ul class="font-small text-muted">
    <% sidebar_publishers.each do |publisher| %>
      <li class="cat-item cat-item-2 active">
        <a href="<%= issuer_path(publisher[0]) %>"><%= publisher[1] %></a></li>
    <% end %>
  </ul>
</div>
