<% if posts.size > 0 %>
<div class="sidebar-widget mb-50">
  <div class="widget-header mb-30 bg-white border-radius-10 p-15">
    <h5 class="widget-title mb-0">Горячее</h5>
  </div>
  <div class="post-aside-style-2">
    <ul class="list-post">
      <% posts.each do |post| %>
        <li class="mb-30 wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn;">
        <div class="d-flex">
          <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
            <a class="color-white" href="<%= post_path(post) %>">
              <% if post.avatar.to_s.size > 5 && !Rails.env.development? %>
                <img src="<%= post.avatar.s87_87.url %>" width="87">
              <% else %>
                <%= image_tag "noimage/main2.png", width: 87 %>
              <% end %>
            </a>
          </div>
          <div class="post-content media-body">
            <h6 class="post-title mb-10 text-limit-2-row">
              <%= link_to post.title, post_path(post) %>
            </h6>
            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase">
              <span class="post-by"><%= link_to post.post_category&.title, city_post_category_path(post.city_id, post.post_category_id) %></span>
              <span class="post-on"><%= pretty_datetime(post.created_at) %></span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
