<div class="sidebar-widget widget-weather border-radius-10 bg-white mb-30">
  <div class="d-flex">
    <% if city_weather %>
      <%= city_weather.html_safe %>
    <% else %>
      <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ua/pogoda/10864" target="_blank"><img src="https://info.weather.yandex.net/10864/1_white.ru.png?domain=ua" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
    <% end %>
  </div>
</div>
