<section class="main-highlight">

</section>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">
      <div class="content-timeline">
        <!--Timeline header area start -->
        <div class="post-list-header">
          <span class="post-list-title">Все записи</span>
        </div>

        <div class="timeline-items">

          <% @posts.each do |post| %>

            <div class="timeline-item">
              <div class="timeline-left">
                <a href="#" class="timeline-category" data-zebra-tooltip title="Запись ленты новостей">
                  <i class="material-icons">&#xE894;</i>
                </a>
                <span class="timeline-date"><%= post.created_at.to_date %></span>
              </div>
              <div class="timeline-right">
                <div class="timeline-post-image">
                  <a href="#">
                    <img src="<%= post.avatar.list_element.url %>" width="260">
                  </a>
                </div>
                <div class="timeline-post-content">
                  <a href="#" class="timeline-category-name">
                    <%= @authors.sample %>
                  </a>
                  <a href="<%= post_category_path(post.post_category_id) %>" class="timeline-category-name">
                    <%= post.post_category.title %>
                  </a>
                  <a href="<%= post_path(post) %>">
                    <h3 class="timeline-post-title"><%= post.title %></h3>
                  </a>
                  <%= post.lead %>
                  <div class="timeline-post-info">
                    <span class="comment">Комментариев: <%= post.post_comments.size %> </span>
                  </div>
                </div>
              </div>
            </div>

          <% end %>

        </div>
        <!--Timeline items end -->

        <!--Data load more button start  -->
        <div class="load-more">
          <button class="load-more-button material-button" type="button">
            <i class="material-icons">&#xE5D5;</i>
            <span data-modal="inProgressModel">Загрузить еще </span>
          </button>
        </div>
        <!--Data load more button start  -->
      </div>

    </div>
    <div class="content-sidebar">
      <div class="sidebar_inner">

        <div class="w-title">Место для рекламы 1</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>


        <div class="seperator"></div>
        <div class="w-title">Место для рекламы 2</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>

        <div class="seperator"></div>
        <div class="w-title">Место для рекламы 3</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>
      </div>
    </div>
  </div>
</section>