<!-- Detail extra post start -->
<div class="extra-posts">
  <div class="extra-post-wrapper">
    <% @post.hot_posts.each do |post| %>


      <div class="columns column-2">
        <article class="extra-post-box">
          <a href="<%= post_path(post) %>" class="extra-post-link">
            <div class="post-image">
              <span><img src="<%= post.avatar.mini_list_element.url %>" width="80" height="80"></span>
            </div>
            <div class="post-title">
              <%= post.title %>
              <span class="post-date"><%= post.created_at.to_date %></span>
            </div>
          </a>
        </article>
      </div>
    <% end %>
  </div>
</div>
<!-- Detail extra post start -->

<section class="sub-highlight">

  <!-- Detail parallax start -->
  <div class="parallax-box">
    <div class="parallax-image" style="background-image: url(<%= @post.base_object.large_avatar.url %>);"></div>
    <article class="post-box">
      <div class="post-overlay">
        <div class="post-overlay-inner">
          <%= link_to @post.base_object.post_category.title, post_category_path(@post.base_object.post_category),
                      class: 'post-category', rel: 'tag' %>
          <h1 class="post-title"><%= @post.base_object.title %></h1>
          <div class="post-meta">
            <div class="post-meta-author-avatar">
              <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
            </div>
            <div class="post-meta-author-info">
			    					<span class="post-meta-author-name">
<!--			    						<a href="#" title="Posts by John Doe" rel="author">John Doe</a>-->
                      <%= link_to @post.author_name, '#' %>
			    					</span>
              <span class="middot">·</span>
              <span class="post-meta-date">
			    						<abbr class="published updated" title="December 4, 2017"><%= pretty_datetime @post.base_object.created_at %></abbr>
			    					</span>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!-- Detail parallax end -->

</section>
<figure>
  <img src="<%= @post.base_object.large_avatar.url %>">
  <figcaption>
    Image Caption
  </figcaption>
</figure>
<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">

      <!-- article body start -->
      <article class="article-wrapper">
        <div class="article-header">
          <div class="breadcrumb">
            <ul>
              <li><a href="/"><span>Главная</span></a> <i class="material-icons">&#xE315;</i></li>
              <li>
                <a href="<%= post_category_path(@post.base_object.post_category) %>"><span><%= @post.base_object.post_category.title %></span></a>
                <i class="material-icons">&#xE315;</i></li>
              <li><span><%= @post.base_object.title %></span></li>
            </ul>
          </div>
        </div>
        <div class="article-content"> <!-- adbox120 or adbox160 -->
          <div class="article-left-box">
            <div class="article-left-box-inner">
              <div class="article-share">
                <a href="#"  class="facebook"></a>
                <a href="#" class="twitter"></a>
                <a href="#" class="google-plus"></a>
              </div>
              <span class="add-to-favorite" data-modal="inProgressModel" data-zebra-tooltip title="Ad to favorite">
										<i class="material-icons">&#xE866;</i>
									</span>
              <ul class="article-emoticons">
                <li>
                  <a href="#" data-modal="inProgressModel" class="popular happy"></a><span>13</span>
                  <ul>
                    <li><a href="#" data-modal="inProgressModel" class="love"></a><span>7</span></li>
                    <li><a href="#" data-modal="inProgressModel" class="shocked"></a><span>5</span></li>
                    <li><a href="#" data-modal="inProgressModel" class="angry"></a><span>4</span></li>
                    <li><a href="#" data-modal="inProgressModel" class="crying"></a><span>1</span></li>
                    <li><a href="#" data-modal="inProgressModel" class="sleepy"></a><span>0</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="article-inner">
            <div class="article-description">
              <%= @post.base_object.lead %>
            </div>
            <%= @post.base_object.description.html_safe %>
            <div class="article-source-box">
              <div class="source-item">
                <span class="source-subtitle">Источник 1 : </span>
                <span class="source-url">https://site.ru</span>
              </div>
              <div class="source-item">
                <span class="source-subtitle">Источник 2 : </span>
                <span class="source-url">https://site2.ru</span>
              </div>
            </div>
            <!-- article sources area end -->

            <!-- article tags area start -->
            <div class="article-tags">
              <span class="tag-subtitle">Теги : </span>
              <a href="#">Для новичков</a><span class="tag-dot"></span>
              <a href="#">Актуальная информация</a><span class="tag-dot"></span>
              <a href="#">Зимняя одежда</a>
            </div>
            <!-- article tags area end -->
          </div>

          <!--this is important for the left ad box or share box fixer -->
          <div id="endOfTheArticle"></div>

          <!-- More article unit start -->
          <div class="more-article">
            <div class="w-header">
              <div class="w-title">Похожие записи</div>
              <div class="w-seperator"></div>
            </div>
            <div class="more-posts">
              <% @post.related_posts.each do |post| %>


                <div class="columns column-2">

                  <article class="post-box" style="background-image: url(<%= post.avatar.related_posts.url %>);">
                    <div class="post-overlay">
                      <a href="<%= post_category_path(post.post_category_id) %>" class="post-category" title="Title of blog post" rel="tag">
                        <%= post.post_category.title %>
                      </a>
                      <h3 class="post-title"><%= post.title %></h3>
                      <div class="post-meta">
                        <div class="post-meta-author-avatar">
                          <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
                        </div>
                        <div class="post-meta-author-info">
								    					<span class="post-meta-author-name">
                                <%= link_to @post.author_name, '#' %>
								    					</span>
                          <span class="middot">·</span>
                          <span class="post-meta-date">
								    						<abbr class="published updated" title="December 4, 2017">
                                  <%= pretty_datetime post.created_at.to_date %>
                                </abbr>
								    					</span>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="post-overlayLink"></a>
                  </article>

                </div>
              <% end %>


            </div>
          </div>
          <!-- More article unit end -->

          <!-- article comment area start -->
          <div class="article-comments">
            <div class="w-header">
              <div class="w-title">Комментарии (<%= @post.base_object.post_comments.size %>)</div>
              <div class="w-seperator"></div>
            </div>
            <div class="comment-form">
              <form>
                <div class="comment-columns">
                  <div class="frm-row columns column-3">
                    <input type="text" name="n" placeholder="Имя" class="frm-input">
                  </div>
                  <% unless @current_user %>
                    <div class="frm-row columns column-3">
                      <input type="text" name="e" placeholder="Email" class="frm-input">
                    </div>
                  <% end %>
                </div>
                <div class="frm-row">
                  <textarea class="frm-input" rows="4" placeholder="Комментарий..."></textarea>
                </div>
                <div class="frm-row">
                  <div class="comment-form-notice columns column-4">
                    <div>Комментарий должен содержать минимум 30 символово</div>
                    <% unless nil %>
                      <div>Чтобы оставлять персонализированные комментарии
                        <a href="#" data-modal="loginModal">Авторизуйтесь</a> в системе.
                        </div>
                    <% end %>
                  </div>
                  <div class="columns column-2">
                    <button type="button" class="frm-button full material-button" data-modal="inProgressModel">Отправить</button>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </form>

            </div>
            <div class="all-comments">


              <% @post.base_object.post_comments.each do |comment| %>
                <div class="comment-item">
                  <div class="comment-avatar">
                  <span class="comment-img">
                    <% if comment.user_id %>
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" width="50" height="50">
                    <% else %>
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y" width="50" height="50">
                    <% end %>
                  </span>
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                      <% if comment.user_id %>
                        <a href="#" class="author-name" data-modal="inProgressModel">Николай Петров</a> -
                      <% else %>
                        <a href="#" class="author-name" data-modal="inProgressModel">Незарегистрированный пользователь</a>
                      <% end %>
                      <span class="comment-date"><%= pretty_datetime comment.created_at %></span>
                    </div>
                    <div class="comment-wrapper">
                      <%= comment.content %>
                    </div>
                    <div class="comment-meta">
                      <button type="button" class="comment-vote up-vote" data-modal="inProgressModel"><i class="material-icons">&#xE8DC;</i>
                        <span class="vote-count">+<%= comment.positive_rating %></span></button>
                      <button type="button" class="comment-vote down-vote" data-modal="inProgressModel"><i class="material-icons">&#xE8DC;</i>
                        <span class="vote-count">-<%= comment.negative_rating %></span></button>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
          <!-- article comment area start -->

        </div>
      </article>
      <!-- article body end -->
    </div>
    <div class="content-sidebar">
      <div class="sidebar_inner">

        <div class="w-title">Место для рекламы 1</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>


        <div class="seperator"></div>
        <div class="w-title">Место для рекламы 2</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>

        <div class="seperator"></div>
        <div class="w-title">Место для рекламы 3</div>
        <a href="#" class="widget-ad-box">
          <img src="/template/img/adbox300x250.png" width="300" height="250">
        </a>
      </div>
    </div>
  </div>
</section>