<% provide(:meta_title, @post.base_object.title) %>
<% provide(:meta_description, @post.base_object.lead) %>

<section class="main-content">
  <div class="main-content-wrapper">
    <div class="content-body">

      <!-- article body start -->
      <article class="article-wrapper">
        <div class="article-header">
          <div class="breadcrumb">
            <ul>
              <li><a href="/"><span>Главная</span></a> <i class="material-icons">&#xE315;</i></li>
              <li>
                <a href="<%= city_path(@post.base_object.city_id) %>"><span><%= @post.base_object.city.title_ru %></span></a>
                <i class="material-icons">&#xE315;</i></li>
              <a href="<%= issuer_path(@post.base_object.publisher_id) %>"><span><%= @post.base_object.publisher.company_name %></span></a></li>
            </ul>
          </div>

          <div class="article-header-title">
            <h1 class="article-title"><%= @post.base_object.title %></h1>
            <p>Просмотров: <%= @post.public_total_views %></p>
          </div>

          <p class="d-none">total_views: <%= @post.base_object.total_views %></p>
          <p class="d-none">cache: <%= @post.base_object.fake_modificator %></p>

          <div class="article-meta-info">
            <%= link_to @post.base_object.publisher.company_name, issuer_path(@post.base_object.publisher_id), class: 'author-name' %>
            —
            <span class="article-post-date"><%= pretty_datetime(@post.base_object.created_at) %></span>
            <!--            <span class="article-reading-time">reading time 2 minute</span>-->
          </div>

        </div>
        <div class="article-content"> <!-- adbox120 or adbox160 -->
          <!--          <div class="article-left-box">-->
          <!--            <div class="article-left-box-inner">-->
          <!--              <div class="article-share">-->
          <!--                <a href="#" class="facebook"></a>-->
          <!--                <a href="#" class="twitter"></a>-->
          <!--                <a href="#" class="google-plus"></a>-->
          <!--              </div>-->
          <!--              <span class="add-to-favorite" data-zebra-tooltip title="Ad to favorite">-->
          <!--										<i class="material-icons">&#xE866;</i>-->
          <!--									</span>-->
          <!--              <ul class="article-emoticons">-->
          <!--                <li>-->
          <!--                  <a href="#" class="popular happy"></a><span>13</span>-->
          <!--                  <ul>-->
          <!--                    <li><a href="#" class="love"></a><span>7</span></li>-->
          <!--                    <li><a href="#" class="shocked"></a><span>5</span></li>-->
          <!--                    <li><a href="#" class="angry"></a><span>4</span></li>-->
          <!--                    <li><a href="#" class="crying"></a><span>1</span></li>-->
          <!--                    <li><a href="#" class="sleepy"></a><span>0</span></li>-->
          <!--                  </ul>-->
          <!--                </li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="article-inner">
            <div class="article-description">
              <%= @post.base_object.lead.html_safe %>
            </div>
            <figure>
              <% if @post.base_object.large_avatar.to_s.size > 5 %>
                <%= image_tag @post.base_object.large_avatar.url, class: 'post-large-avatar' %>
                <%# else %>
                <%# image_tag "noimage/750_420.png", class: 'post-large-avatar' %>
              <% end %>
            </figure>
            <%= @post.base_object.description.html_safe %>

            <!--            <div class="article-source-box">-->
            <!--              <div class="source-item">-->
            <!--                <span class="source-subtitle">Источник 1 : </span>-->
            <!--                <span class="source-url">https://site.ru</span>-->
            <!--              </div>-->
            <!--              <div class="source-item">-->
            <!--                <span class="source-subtitle">Источник 2 : </span>-->
            <!--                <span class="source-url">https://site2.ru</span>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            <div class="article-tags">-->
            <!--              <span class="tag-subtitle">Теги : </span>-->
            <!--              <a href="#">Для новичков</a><span class="tag-dot"></span>-->
            <!--              <a href="#">Актуальная информация</a><span class="tag-dot"></span>-->
            <!--              <a href="#">Политика</a>-->
            <!--            </div>-->
          </div>

          <!--this is important for the left ad box or share box fixer -->
          <div id="endOfTheArticle"></div>

          <div class="article-comments">
            <div class="w-header">
              <div class="w-title">Комментарии (<%= @post.base_object.post_comments.size %>)</div>
              <div class="w-seperator"></div>
            </div>
            <div class="comment-form">

              <% if current_user %>
                <%= form_with model: @post.new_comment, url: comments_path, local: true do |f| %>
                  <div class="frm-row">
                    <%= f.text_area :content, class: 'frm-input', rows: 4, placeholder: 'Введите текст комментария' %>
                  </div>
                  <div class="frm-row">
                    <div class="comment-form-notice columns column-4">
                      <div>Комментарий должен содержать минимум 5 символов</div>
                    </div>
                    <div class="columns column-2">
                      <%= f.hidden_field :post_id, value: @post.base_object.id %>
                      <%= f.submit "Отправить", class: "frm-button full material-button" %>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% end %>
              <% else %>
                <p>Чтобы оставлять комментарии необходимо <a href="#" data-modal="loginUserModal">авторизоваться</a></p>
              <% end %>

            </div>
            <div class="all-comments">


              <% @post.base_object.post_comments.each do |comment| %>
                <div class="comment-item">
                  <div class="comment-avatar">
                  <span class="comment-img">
                    <% unless comment.user_id %>
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" width="50" height="50">
                    <% else %>
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y" width="50" height="50">
                    <% end %>
                  </span>
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                      <a href="#" class="author-name" ><%= comment.user.email %></a>
                    </div>
                    <div class="comment-wrapper">
                      <%= comment.content %>
                    </div>
                    <div class="comment-meta">
<!--                      <button type="button" class="comment-vote up-vote" data-modal="inProgressModel">-->
<!--                        <i class="material-icons">&#xE8DC;</i>-->
<!--                        <span class="vote-count">+<%#= comment.positive_rating %></span></button>-->
<!--                      <button type="button" class="comment-vote down-vote" data-modal="inProgressModel">-->
<!--                        <i class="material-icons">&#xE8DC;</i>-->
<!--                        <span class="vote-count">-<%#= comment.negative_rating %></span></button>-->
                      <% if current_administrator || (current_user && comment.user_id == current_user.id)  %>
                      <%= link_to 'удалить', comment_path(comment),  method: :delete, data: { confirm: "Удалить комментарий ?" } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
          <!-- article comment area start -->
        </div>
      </article>
      <!-- article body end -->

    </div>
    <%= render partial: "site/shared/adverts_sidebar" %>
  </div>
</section>
