<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Вход для издателей</title>

  <%= favicon_link_tag "publisher/template/favicon.ico" %>

  <%= stylesheet_link_tag 'publisher_sign_in' %>
  <%= csrf_meta_tags %>
</head>

<body id="login_bg">

<%= yield %>
<%= javascript_include_tag 'publisher_sign_in' %>
</body>
</html>