  <!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149427307-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149427307-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% meta_title = yield(:meta_title) %>

  <% if meta_title %>
    <title><%= meta_title %></title>
  <% else %>
    <title>Vestida</title>
  <% end %>
  <link href="/feeds" rel="alternate" title="RSS feed" type="application/rss+xml">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="yandex-verification" content="edd757df99ceb305" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= yield(:body_class) %>"
      data-city-id="<%= session[:city_id] %>"
      data-region-id="<%= session[:region_id] %>">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(64619575, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64619575" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<%= render 'layouts/site/header' %>
<%= render 'layouts/site/sidebar' %>

<main class="main-container">
  <%= yield %>
</main>

<%= render 'layouts/site/modal_register' %>
<%= render 'layouts/site/modal_user_login' %>
<%= render 'layouts/site/modal_publisher_login' %>
<%= render 'layouts/site/modal_newsletter' %>
<%= render 'layouts/site/modal_in_progress' %>

<div class="overlay"></div>
<%= javascript_include_tag 'site' %>
</body>

</html>
