<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <% meta_title = yield(:meta_title) %>

  <% if meta_title %>
    <title><%= meta_title %></title>
  <% else %>
    <title>Vestida</title>
  <% end %>

  <meta name="description" content="<%= yield(:meta_description) %>">
  <meta name="keywords" content="<%= yield(:meta_keywords) %>">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="/site2/fonts/themify.eot" as="font" crossorigin="anonymous"/>
  <link rel="preload" href="/site2/fonts/themify.woff" as="font" crossorigin="anonymous"/>
  <link rel="preload" href="/site2/fonts/themify.ttf" as="font" crossorigin="anonymous"/>
  <link rel="preload" href="/site2/fonts/themify.svg" as="font" crossorigin="anonymous"/>
  <%= stylesheet_link_tag 'site2', media: 'all' %>

  <% if Rails.env.production? %>
    <meta name="yandex-verification" content="edd757df99ceb305" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29141085-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-29141085-3');
    </script>
  <% end %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="<%= yield(:body_class) %>">
<% if Rails.env.production? %>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
          m[i] = m[i] || function () {
              (m[i].a = m[i].a || []).push(arguments)
          };
          m[i].l = 1 * new Date();
          k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(64619575, "init", {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
      });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/64619575" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
<% end %>
<div class="main-wrap">
  <%= render 'layouts/site2/aside' %>
  <%= render 'layouts/site2/header' %>
  <%= yield %>
  <%= render 'layouts/site2/footer' %>
</div>
<div class="dark-mark"></div>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
<%= javascript_include_tag 'site2' %>
</body>
</html>
