<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= I18n.t "guides.devise.sign_in.meta_title" %></title>

  <%= favicon_link_tag "publisher/template/favicon.ico" %>

  <%= stylesheet_link_tag 'publisher_sign_in' %>
  <%= csrf_meta_tags %>
</head>

<body id="login_bg">

<nav id="menu" class="fake_menu"></nav>


<div id="login">
  <aside>
    <figure>
      <a href="/">
        <%= image_tag "publisher/template/logo_sticky.png", width: 155, height: 36 %>
      </a>
    </figure>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="access_social">
        <% @user.errors.full_messages.each do |err| %>
          <%= err %><br/>
        <% end %> 
      </div>

      <div class="divider">
        <span>Регистрация новых пользователей</span>

      </div>
      <div class="form-group">
        <label>Email</label>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password1' %>
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="form-group">
        <label>Повторите пароль</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        <!--          <input class="form-control" type="password" id="password2">-->
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div id="pass-info" class="clearfix"></div>
      <!--        <a href="#0" class="btn_1 rounded full-width add_top_30">Зарегистрироваться!</a>-->
      <%= f.submit "Зарегистрироваться", class: 'btn_1 rounded full-width add_top_30' %>
      <div class="text-center add_top_10">или
        <strong><a href="/users/sign_in">Войти</a></strong></div>
    <% end %>

    <div class="copy">© 2018-2019 Vestida</div>
  </aside>
</div>
<%= javascript_include_tag 'publisher_sign_in' %>
</body>
</html>